<div class="off-canvas position-right is-closed" id="offCanvasNew" data-off-canvas>
    <!-- Close button open-->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <!-- Close button close-->


    <!-- TABLET CONTEXT MENU OPEN -->
    <ul class="vertical menu mobile_menu">
        <li>
            <a href="/tender/all/?b=all&a=&t=all&p=&z=">
                Поиск тендера
            </a>
        </li>
        <li>
            <a href="/tenders/tenders_list/add/">
                Добавить тендер	
            </a>
        </li>
        <li>
            <a href="/tenders/result/add/">
                Добавить результат
            </a>
        </li>
        <li>
            <a href="/result/trz">
                Результаты тендеров
            </a>
        </li>
        <li>
            <a href="/customers/trz">
                Каталог заказчиков
            </a>
        </li>
        <li>
            <a href="/suppliers/trz">
                Каталог поставщиков
            </a>
        </li>
        <li>
            <a href="/offer/trz">
                Каталог предложений
            </a>
        </li>
        <li>
            <a href="/rubrics/services/price/">
                Доступ к тендерам
            </a>
        </li>
    </ul>
    <!-- TABLET CONTEXT MENU OPEN -->

</div>
