.customer-table {
    .contracts-col, .verif-tenders-col {
        width: 3%;
        text-align: center!important;
    }
    
    td.numb_col {
        width: 1.5%;
    }
}

.specific_customer_link {
    a {
        color: #A5BBCE!important;
        cursor: unset;
    
        &:hover {
            text-decoration: none!important;
        }
    }
}

.customer_logo, .customer_contact_data {
    width: 40%!important;
}

.customer_info {
    position: absolute;
    left: 40%!important;
    height: 215px;
}

@include breakpoint(small down) {
    .customer_info {
        height: unset!important;
        width: 100%!important;
    }

    .customer_contact_data {
        width: 100%!important;
    } 
}

