//FOOTER
.footer_block {
    background-color: $footer-color;
    display: flex;
    justify-content: space-between;
    padding-left: 10px; 
    padding-top: 3px;
    padding-right: 10px;
    .instr_caption {
        p {
            padding: 2px 0px 5px 0px;
            font-family: $body-font-family;
            font-size: $font-size;
            font-weight: 700;
            color: #0080C5;
            margin-top: 5px;
            margin-bottom: 3px;
            display: inline-block;
        }

        .foooter_info {
            height: 18px;
            width: 18px;
            display: inline-block;
        }
    }

    img.hit_icon {
        float: right;
        margin: 6px;
    }
}

.footer_instr_consul {
    background-color: $footer-color;
    display: flex;
    justify-content: space-between;
    padding-left: 10px; 
    padding-right: 10px; 

    .instr_body {
        display: flex;
        justify-content: flex-end;
        a {
            font-family: $body-font-family;
            font-size: $font-size;
            font-weight: 700;
            color: $primary-color;

            &:hover {
                text-decoration: underline;
            }
        }

        .footer_bold, p {
            font-family: Verdana, Arial, sans-serif;
            font-size: 9.3px;
            font-weight: 700;
            color: $primary-color;
        }

        p {
            font-weight: 400;
        }

        .instr_block {
            padding: 0;
            line-height: 1 !important;

            .footer_img_wrapper {
                margin-right: 15px;
                float: left;
                a {
                    line-height: 1.2;
                }
            }
        }
        .instr_block1 {
            .instr_block_text {
                p:last-child {
                    margin-top: 55px;
                    margin-bottom: 0px;
                }
            }
        }

        .instr_block2 {
            .instr_block_text {
                p:last-child {
                    margin-top: 13px;
                    margin-bottom: 0px;
                }
            }
        }

        .instr_block3 {
            .instr_block_text {
                p:last-child {
                    margin-top: 58px;
                    margin-bottom: 0px;
                }
            }
        }
    }

    .footer_consultation {
        margin-bottom: 0px;
        color: $primary-color;
        font-size: $font-size;
        font-weight: 700;
        font-family: Verdana, Arial, sans-serif;
    }

    .footer_cons_wrapper {
        padding: 5px;
        padding-top: 0px;

        .left-cons, .right-cons {
            display: inline-block;
        }

        .left-cons {
            margin-right: 50px;
        }

        p {
            color: $primary-color;
            font-size: $font-size;
            font-weight: 400;
            font-family: Verdana, Arial, sans-serif; 
            margin-bottom: 0px;
            position: relative;
            top: 10px;
        }

        ul {
            list-style-type: none;
            margin-left: 0px;

            li {
                height: 14px;
                a {
                    color: #666666;
                    font-size: $font-size;
                    font-weight: 400;
                    font-family: Verdana, Arial, sans-serif; 

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.phone {
    padding-left: 10px; 
    padding-bottom: 10px;
    background-color: $footer-color;
    .footer_phone {
        color: #000;
        font-size: $font-size;
        font-weight: 700;
        font-family: Verdana, Arial, sans-serif;
        margin-bottom: 0px;
    }
    .footer_left_menu {
    margin-left: 10px !important;    
    margin-bottom: 0px !important;

    li {
        display: inline-block;
        color: $primary-color;
        font-weight: 700;
        font-size: $font-size;
        font-family: Verdana, Arial, sans-serif;

        &:hover {
            text-decoration: underline;
        }

        img {
            margin-bottom: 5px;
        }
    }
    }
}


// //FOOTER_BOTTOM_LINE 
.footer_bottom_line {
    display: flex;
    justify-content: space-between;
    background: #0080C6;
    color: #FFFFFF;
    font-size: 10px;
    font-family: Verdana,Arial,sans-serif;
    font-weight: 400;
    padding: 7px 5px 7px 5px;

    img, p {
        display: inline-block;
    }

    p {
        margin-bottom: 0px;
        vertical-align: bottom;

    }

    a {
        color: #ffffff;

        &:hover {
            text-decoration: underline;
        }
    }

    .dynamic {
        float: right;
    }
}

.instr_block2 .instr_block_text a {
    display: inherit;
    width: 92%;
    line-height: 1.4;
}

@media screen and (max-width: 1260px) and (min-width: 1200px) {
    .footer_instr_consul .footer_cons_wrapper ul li a, .footer_instr_consul .instr_body a  {
        font-size: 11px;
    }

    .footer_instr_consul .instr_body .instr_block1 .instr_block_text p:last-child {
        margin-top: 60px;
    }

    .footer_instr_consul .instr_body .instr_block2 .instr_block_text p:last-child {
        margin-top: 26px;
    }

    .footer_instr_consul .instr_body .instr_block3 .instr_block_text p:last-child {
        margin-top: 59px;
    }
}

@media screen and (max-width: 1260px) and (min-width: 1024px) {
    .footer_instr_consul .footer_cons_wrapper ul li a, .footer_instr_consul .instr_body a  {
        font-size: 9px;
    }

    .footer_instr_consul .footer_cons_wrapper .left-cons {
        margin-right: 8px;
    }

    .footer_instr_consul .instr_body .instr_block .footer_img_wrapper {
        margin-right: 10px;
        width: 27%;
    }
    .footer_instr_consul .instr_body .instr_block1 .instr_block_text p:last-child {
        margin-top: 31px;
        width: 90%;
    }

    .footer_instr_consul .instr_body .instr_block2 .instr_block_text p:last-child {
        margin-top: 13px;
    }

    .footer_instr_consul .instr_body .instr_block3 .instr_block_text p:last-child {
        margin-top: 45px;
    }
}

@media screen and (max-width: 1060px) and (min-width: 1024px) {
    .footer_instr_consul {
        justify-content: baseline;
    }
}

@include breakpoint(medium only) {
    .phone .footer_left_menu {
        display: inline-block;
        margin-left: 32px !important;    
    }
}

