//FOOTER
.footer_block {
    background-color: $footer-color;

    .footer_instr_wrapper {
        margin-left: 34px;
        margin-top: 3px;
    }


    .instr_caption {

        p {
            padding: 2px 0px 5px 0px;
            font-family: $body-font-family;
            font-size: $font-size;
            font-weight: 700;
            color: #0080C5;
            margin-top: 5px;
            margin-bottom: 3px;
            display: inline-block;
        }

        .foooter_info {
            height: 18px;
            width: 18px;
            display: inline-block;
        }
    }

    .instr_body {

        img {
            margin-left: 5px;
            display: inline-block;
        }

        a {
            font-family: $body-font-family;
            font-size: $font-size;
            font-weight: 700;
            color: $primary-color;
            vertical-align: top;

            &:hover {
                text-decoration: underline;
            }
        }

        .footer_bold, p {
            font-family: Verdana, Arial, sans-serif;
            font-size: 9.3px;
            font-weight: 700;
            color: $primary-color;
        }

        p {
            font-weight: 400;
        }

        .instr_block {
            padding: 0;
            line-height: 1 !important;

            .footer_img_wrapper, .instr_block_text {
                display: inline-block;
            }
            
            .footer_img_wrapper {
                width: 35%;

                img {
                    position: relative;
                    bottom: 20px;
                }

                a {
                    line-height: 1.2;
                }
            }
    
            .instr_block_text {
                width: 57%;

                
                p, strong {
                    margin: 0px;
                    position: relative;
                    top: 25px;
                }

            }
        }

        .instr_block2 {
            .footer_img_wrapper {

                img {
                    position: relative;
                    bottom: 40px;
                }

            }

            .instr_block_text {
                
                p, strong {
                    margin: 0px;
                    position: relative;
                    top: 5px;
                }

            }
        }

        .instr_block3 {
            .footer_img_wrapper {

                img {
                    position: relative;
                    bottom: 8px;
                }

            }

            .instr_block_text {
                
                p, strong {
                    margin: 0px;
                    position: relative;
                    top: 36px;
                }

            }
        }

    }

    .footer_phone {
        color: #000;
        font-size: $font-size;
        font-weight: 700;
        font-family: Verdana, Arial, sans-serif;
        margin-bottom: 0px;
        // position: relative;
        // bottom: 20px;
    }

    .footer_consultation {
        margin-top: 32px;
        margin-bottom: 0px;
        color: $primary-color;
        font-size: $font-size;
        font-weight: 700;
        font-family: Verdana, Arial, sans-serif;
    }

    .footer_cons_wrapper {
        padding: 5px;
        padding-top: 0px;

        .left-cons, .right-cons {
            display: inline-block;
        }

        .right-cons {
            margin-left: 50px;
        }

        p {
            color: $primary-color;
            font-size: $font-size;
            font-weight: 400;
            font-family: Verdana, Arial, sans-serif; 
            margin-bottom: 0px;
            position: relative;
            top: 10px;
        }

        ul {
            list-style-type: none;
            margin-left: 0px;

            li {
                height: 14px;
                a {
                    color: #666666;
                    font-size: $font-size;
                    font-weight: 400;
                    font-family: Verdana, Arial, sans-serif; 

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}

.relative_wrapper {
    position: relative;
}

img.hit_icon {
    position: absolute;
    right: 5px;
    top: 6px;
}

.footer_instr_wrapper {

    .footer_left_menu {
        // position: relative;
        margin-left: 10px !important;
        bottom: 10px;
    
        li {
            display: inline-block;
            color: $primary-color;
            font-weight: 700;
            font-size: $font-size;
            font-family: Verdana, Arial, sans-serif;
    
            &:hover {
                text-decoration: underline;
            }
    
            img {
                margin-bottom: 5px;
            }
        }
    }
}

//FOOTER_BOTTOM_LINE 
.footer_bottom_line {
    background: #0080C6;
    color: #FFFFFF;
    font-size: 10px;
    font-family: Verdana,Arial,sans-serif;
    font-weight: 400;
    padding: 7px 5px 7px 23px;

    img, p {
        display: inline-block;
    }

    p {
        margin-bottom: 0px;
        vertical-align: bottom;

    }

    a {
        color: #ffffff;

        &:hover {
            text-decoration: underline;
        }
    }

    .dynamic {
        float: right;
    }
}