@charset "utf-8";

@import "_settings";
@import "foundation";
@import "motion-ui";

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


//CUSTOM_VARIABLES
$font-size: 11px;
$tender-font-size: 12px;


.hide_text {
    color: transparent;
    visibility: hidden;
}

//HEADER_TOP_LINE

.header_top_line {
    background-color: #0080c6;
    height: 26px;

    .statistics {
        padding-left: 30px;   
        
        .stat_outer_line {
            width:auto;
            background: transparent url('../images/head_fon.gif') repeat-x;
            border:0px solid #000;
        }
    
        .stat_inner_line {
            background: transparent url('../images/head_valwe.gif') no-repeat 0 0;
            height:22px;
            padding:3px 0px 0px 40px;

            .statistics_wrapper {
                position: relative;
                bottom: 7px;
                color: white;
                float: right;

                strong {
                    color: $user_info-color;
                    font-size: 11px;
                }

                a {
                    font-size: 11px;
                    color: $link-color;
                }

                a.attention_banner {
                    background: url('../images/vnimanie4.gif');
                    height: 22px;
                    width: 110px;
                    float: right;
                }
            }
        }
    }
}


// BANNER_LINE
.banner_line {
    height: 95px;
    color: #FFFFFF;
    background: #0289CF url(../images/logo_fon.gif) repeat-x 0 0;

    .logo_banner {
        background: transparent url(../images/logo1.gif) no-repeat 0 0;
        padding: 0;
        padding-top: 36px;
        padding-left: 6px;
        height: 95px;
        width: 182px;

    }

    .banner-2 {
        img.banner-2 {
            width: 150px;
            border: 0px;
            height: 80px;
            margin-top: 5px;
        }
    }

    .banner-3 {
        img.banner-3 {
            margin-top: 5px;
            width: 150px;
            border: 0px;
            height: 80px;
        }
    }

    .banner-4 {
        padding-left: 0px;
        
        img.banner-4 {
            margin-top: 5px;
            width: 150px;
            border: 0px;
            height: 80px;
        }
    }

    .my_page_info {
        margin-top: 5px;
        margin-right: 5px;
        font-size: $font-size;
        color: $user_info-color;
        padding: 5px 10px 5px 10px;
        border: 1px solid $user_info-color;

        p.user_name {
            text-align: right;
            margin-bottom: 0 !important;
        }

        .my_page_links {
            margin-bottom: 0 !important;

            a {
                color: $user_info-color;
                text-decoration: underline;
                font-family: $body-font-family;
            }
        }

        input.logout_butt {
            float: right;
            background-color: $user_info-color;
            border: 1px solid #5D637B;  
            font-size: 8pt;
            padding: 0px 5px 0px 5px;
            height: 16px;      
        }
    }
}

//MENU_LINE

.menu_line {
    height: 24px;
    background-color: #fbd983;
    border-top: 2px solid #f3af08;
    margin-bottom: 6px;

    .menu_div {
        padding: 0 0 0 6px;


        ul.menu_list {
            float: left;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
    
            li {
                float: left;
                padding: 4px 0 5px 0;
                margin: 0;
                list-style: none;
                color: #534741;

                &:last-child {
                    a {
                        padding-right: 0px;
                        padding-left: 4px;
                    }
                }
                
                a.first {
                    border-left: none; 
                    padding-left: 0px;
 
                }

                a {
                    display: block;
                    color: #534741;
                    font-size: 12px;
                    font-weight: 700;
                    border-left: 1px solid #534741; 
                    padding: 0 5px;
                    margin: 0;
                    text-decoration: none;
                    line-height: normal;
                    font-family: $body-font-family;

                    &:hover {
                        text-decoration: underline;
                    }
    
                }

            }
        }
    }
    
}

//SEARCH_LINE

.search_bar {
    background-color: #f9ca65;

    .search_icon {
        padding: 0;
        padding-top: 0px;
        padding-bottom: 0;
        margin: 0;
        margin-top: 1px;
        color: transparent;
        position: relative;

        .search_icon_tr {
            background: url("../images/search_icon.gif") no-repeat;
            color: transparent;
            width: 22px;
            height: 19px;
            float: left;
        }

        input {
            font-family: Verdana,Arial,sans-serif;
            font-size: 10px;
            border: 1px solid #505153;
            width: 140px;
            margin: 0;
            display: unset;
            padding: 0 1px;
            height: 16px;
            position: absolute;
            top: 1px;
        }

        a {
            position: absolute;
            left: 165px;
            top: 2px;
            display: unset;
            font-size: 12px;
            font-family: $body-font-family;
            color: #534741;
            text-decoration: none;
            line-height: normal;
            font-weight: 700;
        }
    }
}

.favourite_wrapper {
    position: relative;

    .faw_mail_btns {
        position: absolute;
        top: -3px;
        left: 10px;
    }
}


//CONTEXT_MENU
.right-column {
    padding-right: 10px !important;
}

#context-menu {
    margin-top: 7px;

    .tb-selector {
        padding: 5px;
        padding-top: 0px;
        padding-bottom: 3px;
        margin: 0 0 10px 0;
        background: #FAD683;

        select {
            margin: 0;
            padding: 0;
            padding-left: 5px;
            padding-right: 25px;
            height: 15px;   
            font-size: 9px;
            line-height: normal;
            font-family: "MS Sans Serif", Arial, Verdana, sans-serif;
        }
    }

    #context-top-topic {
        background: #0080C6 url("../images/tender_title.gif") no-repeat 10px 55%;
        color: #FFFFFF;
        padding: 2px 10px 2px 28px;
        font: bold 12px Verdana,sans-serif;
        text-align: left;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-bottom: 20px;

        li {
            height: 21px;
        }

        li.n-white {
            background: #F8FBFD url("../images/w_news_item.gif") no-repeat 0 6px;
            padding: 3px 10px 3px 25px;
        }

        li.n-blue {
            background: #F0F6FC url("../images/b_news_item.gif") no-repeat 0 6px;
            padding: 3px 10px 3px 25px;
        }

        a {
            color: $primary-color;
            text-decoration: none;
            font-size: $font-size;
            font-family: Verdana, Arial, sans-serif;
            font-weight: bold;
            vertical-align: top;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    img.bank_garant {
        width: 100%;
        height: 400px;
    }


    .order_adds_wrapper {
        text-align: center;

        .order_adds {
            color: red;
            font-weight: bold;
            text-decoration: underline;
            font-size: 11px;
            font-family: Verdana, Arial, sans-serif;
        }
    }
    
}

//FILTER_BLOCK
.filter_block {
    padding-right: 80px !important;
    padding-left: 10px !important;

    h2 {
        padding: 0;
        margin: 10px 0 10px 0;
        font-size: 16px;
        font-family: $body-font-family;
        font-weight: 700;
        color: #666666;
        display: inline-block;
    }

    
    a {
        margin-left: 5px;

        .rss_icon {
            vertical-align: sub !important;
        }
    }

    .filter_wrapper {
        margin-top: 5px;

        .filter-row {
            margin-top: 9px;
        }

        .with_hint {
            padding-top: 15px;
            position: relative;
        }

        .two_row_hint {
            padding-top: 33px;
            position: relative;
        }

        .filter_caption {
            color: $primary-color;
            font-family: Verdana, Arial, sans-serif;
            font-size: $tender-font-size;
            font-weight: 700;
            text-align: left;

            span {
                position: relative;
                top: 2px;
            }
        }

        .second_col {
            padding-left: 5px !important;
        }

        .filter_input {
            padding-left: 35px;
            color: $primary-color;
            font-family: Verdana, Arial, sans-serif;
            font-size: $tender-font-size;
            font-weight: 700;
            text-align: left;

            span {
                position: relative;
                top: 2px;
                margin-left: 20px;
            } 

            .fromtTo {
                margin-left: 8px;
                font-weight: 400;
            }
            
            .input_hint {
                font-size: 7pt;
                color: #666666;
                margin: 0px;
                font-weight: 400;
                position: absolute;
                top: -2px;
            }

            .input_spec_hint {
                width: 38%;
            }

            input {
                display: inline-block;
                border: 1px solid #000000;
                color: #000;
                font-family: Verdana, Arial, sans-serif;
                font-size: 12px;
                height: 19px;
                padding-top: 0px;
                padding-bottom: 0px;
                margin: 0px;
            }

            input.sbutton {
                width: 100%;
                border: 1px solid #000000;
                font: normal 12px Verdana,sans-serif;
            }

            select {
                width: 100%;
                border: 1px solid #000000;
                color: #000;
                font-family: Verdana, Arial, sans-serif;
                font-size: $tender-font-size;
                height: 19px;
                padding-top: 0px;
                padding-bottom: 0px;
                margin: 0px;
            }
        }

        .second_col {

            input {
                margin-left: 5px;
            }

            .register_announcement {
                margin-left: 10px;
                background-color: #FBF7EE;
                border: 1px solid #E2DFD8;
                padding-top: 15px;
                padding-bottom: 3px;
                position: absolute;
                top: 0px;
                text-align: center;
                font-weight: 700;
                padding-left: 30px;
                padding-right: 30px;

                a {
                    color: #FF0000;
                    text-decoration:underline;
                }

                a:last-child {
                    color: $primary-color;
                }
            }
        }
    }
}


// COLOR_HINTS_BLOCK
.hints_wrapper {
    padding-top: 20px;
}

.hints_block {
    padding-left: 10px !important;

    .color_block {
        display: inline-block;
        width: 22px;
        height: 15px;
    }

    .orange_blck {
        background-color: #F7E0BD;
        border: 1px solid #E2DFD8;
    }

    .blue_blck {
        background-color: #BCD3F9;
        border: 1px solid #E2DFD8;
        margin-left: 12px;
    }

    .green_blck {
        background-color: #CCDDAE;
        border: 1px solid #E2DFD8;
        margin-left: 12px;
    }

    .violet_blck {
        background-color: #990099;
        border: 1px solid #E2DFD8;
    }

    .zaklad_icon {
        background: url("../images/zak1.gif") no-repeat;
        margin-left: 12px;
    }

    .hint_first_line {
        margin-bottom: 8px;
    }

    .hint_title {
        height: 15px;
        color: $primary-color;
        font-weight: 400;
        font-size: $font-size;
        font-family: Verdana, Arial, sans-serif;
        vertical-align: text-top;

    }
}

.right_banner {
    padding-left: 85px !important;
    padding-right: 10px !important; 

    .right_banner_wrp {
        float: right;
    }

    img {
        width: 468px;
        height: 60px;
    }

    .order_adds {
        color:#FF0000;
        text-decoration:underline;
        font-size: $font-size;
        font-weight: 400;
        font-family: Verdana, Arial, sans-serif;
    }
}


// PAGINATION
.pagination_wrapp {
    height: 27px;
}

.pagination {
    // margin-top: 5px;
    // margin-bottom: 0px;
    color: $primary-color;

    .current {
        font-weight: 700;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .pagination-next {

        &:hover {
            text-decoration: underline;
        }
    }

    .pagination-next a::after {
        display: none;
    }
}


// TENDERS_TABLE
$responsive-card-table-bottom-gap: 0px;
$responsive-card-table-border: 1px solid #E2DFD8;
$responsive-card-table-stack-point: 480px;
$responsive-card-table-label-bg: #e6e6e6;;

.table_col {
    padding-left: 10px;
    padding-right: 10px;
}

.responsive-card-table {
    border-collapse: collapse;
    margin-bottom: 0px;

    &.unstriped tbody {
        background-color: transparent;
    }

    th {
        background: #fbf7ee;
        border: 1px solid #E2DFD8;
        padding: 3px;
        font-size: $font-size;
        font-weight: 700;
        font-family: Verdana,sans-serif;
        color: #615F60;
        text-align: center;

        a {
            font-size: $font-size;
            font-weight: 700;
            font-family: Verdana,sans-serif;
            color: #615F60;
            border-bottom: 1px dashed #615F60;

            &:focus {
                outline: none;
            }
        }
    }

    tr,
    th,
    td {
        border: $responsive-card-table-border;
    }

    tr:nth-child(even) {
        background-color: #fbf7ee
    }

    td {
        font-size: $font-size;
        font-weight: 400;
        font-family: Verdana, Arial, sans-serif;
        color: $primary-color;
        text-align: center;
        line-height: normal;

        a {
            font-size: $font-size;
        }

        &.summ_col {
            text-align: left;
        }

        &.deliv_col {
            text-align: left;
        }

        &.num_col {
            background: #bcd3f9;
        }
    }

    .num_col {
        width: 1%;
    }

    .date_publ_col {
        width: 8%;
    }

    .summ_col {
        width: 8%;
    }

    .add_col {
        width: 1%;
        padding: 5px;
    }

    td.predm_col {
        text-align: left;

        a {
            font-weight: 400;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .date_pod_col {
        width: 9%;
    }

    .deliv_col {
        width: 22%;
        }

    @media screen and (max-width: $responsive-card-table-stack-point) {
        thead tr {
            position: absolute;
            top: -9999em;
            left: -9999em;
        }

        tr {
            border: $responsive-card-table-border;
            display: block;
        }

        tr + tr {
            margin-top: $responsive-card-table-bottom-gap;
        }
        /* Get table cells to act like rows */

        td {
            border: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: $responsive-card-table-border;
            padding-left: 50%;
            position: relative;

            &:before {
                content: attr(data-label);
                display: inline-block;
                font-weight: bold;
                line-height: 1.5;
                margin-left: -100%;
                width: 50%;
                position: relative;
                z-index: 1;
                text-align: left;
            }

            &:after {
                content: '';
                position: absolute;
                background: $responsive-card-table-label-bg;
                width: 25%;
                text-align: left;
                height: 98%;
                left: 1px;
                top: 1px;
                z-index: 0;
            }
        }
    }

}




//FOOTER
.footer_block {
    background-color: $footer-color;

    .footer_instr_wrapper {
        margin-left: 34px;
        margin-top: 3px;
    }


    .reference_caption {

        p {
            padding: 2px 0px 5px 0px;
            font-family: $body-font-family;
            font-size: $font-size;
            font-weight: 700;
            color: #0080C5;
            margin-top: 5px;
            margin-bottom: 3px;
            display: inline-block;
        }

        .foooter_info {
            height: 18px;
            width: 18px;
            display: inline-block;
        }
    }

    .reference_p {
        line-height: normal;
        font-family: Verdana, Arial, sans-serif;
        color: #000000;
        font-size: $tender-font-size;
        font-weight: normal;
    }

    .footer_phone {
        color: #000;
        font-size: $font-size;
        font-weight: 700;
        font-family: Verdana, Arial, sans-serif;
        margin-bottom: 0px;
    }

    .footer_consultation {
        margin-top: 32px;
        margin-bottom: 0px;
        color: $primary-color;
        font-size: $font-size;
        font-weight: 700;
        font-family: Verdana, Arial, sans-serif;
    }

    .footer_cons_wrapper {
        padding: 5px;
        padding-top: 0px;

        .left-cons, .right-cons {
            display: inline-block;
        }

        .right-cons {
            margin-left: 50px;
        }

        p {
            color: $primary-color;
            font-size: $font-size;
            font-weight: 400;
            font-family: Verdana, Arial, sans-serif; 
            margin-bottom: 0px;
            position: relative;
            top: 10px;
        }

        ul {
            list-style-type: none;
            margin-left: 0px;

            li {
                height: 14px;
                a {
                    color: #666666;
                    font-size: $font-size;
                    font-weight: 400;
                    font-family: Verdana, Arial, sans-serif; 

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}

.relative_wrapper {
    position: relative;
}

.footer_menu_blck {
    padding-left: 30px !important;
}

.footer_banner {
    margin-top: 8px;
}

img.hit_icon {
    position: absolute;
    right: 5px;
    top: 6px;
}


//FOOTER_BOTTOM_LINE 
.footer_bottom_line {
    background: #0080C6;
    color: #FFFFFF;
    font-size: 10px;
    font-family: Verdana,Arial,sans-serif;
    font-weight: 400;
    padding: 7px 5px 7px 23px;

    img, p {
        display: inline-block;
    }

    p {
        margin-bottom: 0px;
        vertical-align: bottom;

    }

    a {
        color: #ffffff;

        &:hover {
            text-decoration: underline;
        }
    }

    .dynamic {
        float: right;
    }
}


//MOBILE_VERSION
.hide_small {
    @include breakpoint(small down) {
        display: none !important;
    }
}

.hide_not_small {
    @include breakpoint(medium up) {
        display: none !important;
    }
}



//HIDE_HEADER_TOP_LINE
.header_top_line {
    @include breakpoint(small down) {
        display: none;
    }
}

//HIDE_BANNERS
.header_top_line {
    @include breakpoint(small down) {
        display: none;
    }
}

@include breakpoint(small down) {
    .banner_line .logo_banner {
        background: transparent url("../images/logo.png") no-repeat 0 0;
        @include horizontal-center;
    }
}

//MOBILE_MENU
@include breakpoint(small down) {
    .menu_line {
        height: 35px;
    }
    
    .mobile_menu {
        background-color: #fce3a2;
    
        li {
            a {
                color: #534741;
                font-weight: 700;
                font-family: Arial,Verdana,sans-serif;
                border-bottom: 1px solid #534741;
                border-right: 1px solid #534741;
                padding-top: 14px;
                padding-bottom: 14px;
            }
        }
    
    }
}


//MOBILE_SEARCH
.navbar-new--search {
    float: right;
    outline: none;
    padding-bottom: 6px !important;
    padding-left: 20px !important;

    &:hover {
        background-color: #f3af088c;
    }
    
    img {
        width: 23px;
        height: 20px;
        margin-top: 7px;
        margin-right: 15px;

    }
}

#searchModal {
    top: 0px !important;
    background-color: rgba(0, 104, 178, 0.902) !important;
    padding: 0px !important;
    overflow: hidden !important;

    transition: display .15s linear;

    input {
        height: 70px;
        padding: 6px 8px 6px 50px;
        box-shadow: unset;
        border: none;
        font-family: $body-font-family;

        &:hover {
            box-shadow: inset 0 0 2px 2px #c4c4c4;
        }
    }

    button.closing-button {
        height: 70px;
        width: 70px;
        top: 70px;
        right: 0px;
        position: absolute;
        background-color: #eeeeee;

        &:hover {
            background-color: #c4c4c4;
            outline: none;
        }

        &:focus {
            background-color: #c4c4c4;
            outline: none;
        }

        span {
            font-size: 40px;   
            color: #676767;
        }
    }

    .reg-enter-wrapper {

        .reg-enter {
            position: absolute;
            left: 14px;
            top: 26px;
            margin: 0;
            background: url("../images/search-icon-small.png") no-repeat 0 0;
            width: 22px;
            height: 20px;
            background-size: 100% auto;
        } 
    }


}

.login_icon {
    float: right;
    outline: none;
    padding: 3px 15px 5px 15px;

    &:hover {
        background-color: #f3af088c;
    }

    img {
        width: 22px;
        height: 20px;
        margin-top: 3px !important;
    }

}

.mobile-menu-icon {
    position: relative;
    text-indent: -99999px;
    display: block;
    width: 1.2rem;
    padding: 0 1.5rem;
    height: 33px;
    border-right: 1px solid #f3af08;
    margin-right: 1.2rem;
    cursor: pointer;
}

.mobile-menu-icon:before {
    content: "";
    position: absolute;
    left: 9px;
    top: 11px;
    width: 1.2rem;
    height: 2px;
    background: #666666;
    box-shadow: 0 0.3em 0 0 #666666, 0 0.6em 0 0 #666666;
}


//MOBILE_LOGIN
@include breakpoint(small down) {
    #loginModal {
        background-color: #fce3a2;
        
        button {
            outline: none;
            font-size: 2.3em;
            padding-left: 10px;
            padding-right: 10px;
            right: 5px;
            top: 0px;
        }

        form {
            width: 85%;
            margin-top: 30px;
            @include horizontal-center;
        }

        label {
            color: #534741;
        }
        
        input[type="text"],
        input[type="password"]
        {
        
            &:focus {
                box-shadow: inset 0 0 2px 1px #c4c4c4;
            }
        }

        a {
            font-size: 16px;
            text-decoration: underline;
            color: #534741;
            position: relative;
            top: 21px;
            padding-top: 10px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 10px;
        }

        input[type="submit"]
        {
            float: right;
            border: 1px solid #5D637B;
            color: #534741;
            background: #FDE183;
            font-size: 15px;

            &:hover {
                background: #ccb569;
                outline: none;
            }
        }


    }
    
}

//MOBILE_FOOTER
@include breakpoint(small down) {
    .footer_instr_wrapper  {
        margin-left: 0px !important;
    }
    
    .footer_phone {
        text-align: center;
    }
    
    .footer_left_menu {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 0px;
        
        li {
            margin-right: 5px;
        }
    }

    .footer_bottom_line {
        p {
            text-align: center;
        }
    }

    .footer_block {
        height: 90px;
    }

    .full_version {
        @include horizontal-center;
        color: #064D9F;
        font-weight: 600;
        font-size: 12px;
        font-family: Verdana, Arial, sans-serif;

        &:hover {
            text-decoration: underline;
        }
    }

    .expanded_spec {
        padding: 0px !important;
    }
}

// MOBILE FILTERS
@include breakpoint(small down) {
    .filter_block {
        padding-right: 10px !important;

        .filter_input {
            padding-left: 0px !important;

            select {
                border: 1px solid #828282;
                height: 39px !important;   
                font-size: 16px !important;
                line-height: normal;
            }

            #t {
                position: relative;
                right: 4px;
            }

            span {
                margin-left: 0px !important;
                right: 4px;
            }

            input[type='text'] {
                height: 30px !important;
                font-size: 15px !important;

                &:hover {
                    box-shadow: inset 0 0 1px 1px #c4c4c4;
                }
            }

            .sbutton {
                height: 27px;
            }
        }

        .filter_caption {
            padding-bottom: 4px;
        }

        .second_col {
            margin-top: 15px;

            input {
                height: 30px !important;
                font-size: 15px !important;

                &:hover {
                    box-shadow: inset 0 0 1px 1px #c4c4c4;
                }
            }
        }

        #min_amount {
            margin-right: 10px;
        }
    }
}

// select {
//     margin: 0;
//     padding: 0;
//     padding-left: 5px;
//     padding-right: 25px;
//     height: 15px;   
//     font-size: 9px;
//     line-height: normal;
//     font-family: "MS Sans Serif", Arial, Verdana, sans-serif;
// }







