//TABLET MAIN PAGE
@include breakpoint(medium only) {
    .tender_catalog_wrapp {
        padding-right: 3px!important;
    }

    .grid-x {
        .main_page_catalog_menu {
            margin-top: 10px!important;
            li {
                display: inline-block!important;
                height: 25px!important;
                width: 19%!important;
                    a {
                        font-size: 13px!important;
                        padding-right: 12px!important;
                    }
                } 
        } 
    }
}