//LEFT POLLS BLOCK
.left-polls-wrapper {
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    h2 {
        color: $primary-color;
        font-weight: 700;
        font-family: Verdana, Arial, sans-serif;
        font-size: 14px;
    }

    p, label {
        color: #3B3B3B;
        font-family: Verdana, Arial, sans-serif;
        font-size: $font-size;
    }

    p {
        margin-bottom: 8px;
    }

    input[type=radio] {
        display: inline-block;

        &.first-input {
            margin-bottom: 5px;
        }
    }

    label {
        color: $primary-color!important;
        margin-left: 0px;
        position: relative;
        bottom: 2px;

        &.two-line-label {
            line-height: 1.2;
            position: relative;
            top: 8px;
        }
    }

    .reg-enter {
        font-family: Verdana, Arial, sans-serif;
        font-size: $font-size;
        font-weight: 700;
        color: #666666;
        text-decoration: none;
        text-transform: lowercase;
        text-align: center;
        display: block;
        background: #fcdb83;
        width: 76px;
        cursor: help;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        right: 20px;
        box-shadow: inset 0px 0px 2px 0.01px #6b5c35;
        margin-bottom: 20px;
    }

    .polls-result {
        font-family: Verdana, Arial, sans-serif;
        font-size: $font-size;
        color: $primary-color;
        margin: 20px 0 20px 20px;
    }
}