//LEFT_USER_INFO
.left_user_info {
    border: 1px solid #E2DFD8;
    background: #FBF7EE;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
    width: 93%;
    margin-bottom: 15px;

    .welcome {
        font-size: $tender-font-size;
        font-family: Verdana, Arial, sans-serif;
        color: $primary-color;
        margin-bottom: 0px;
    }

    a {
        font-weight: 700;
        color: $primary-color;
        font-family: Verdana, Arial, sans-serif;
        font-size: $tender-font-size;

        &:hover {
            text-decoration: underline;
            outline: none;
        }
    }

    .user_name_link {
        position: relative;
        bottom: 8px;
    }

    #user_link_line_second {
        margin-top: 0px!important;
    }

    .user_link_line {
        height: 35px;
        display: flex;
        margin-top: 10px;
        .icon_link {
            flex-shrink: 1;
            margin-right: 5%;
            width: 11%;
        }
    }

    .links_list {

        a.icon_link {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .form_labels {
        display: inline;
        vertical-align: top;
        color: $primary-color;
        font-family: Verdana, Arial, sans-serif;
        font-size: 11px;
        margin-bottom: 0px;
    }

    .login_label {
        margin-right: 8px;
    }

    input[type=text], input[type=password] {
        width: 60%;
        background-color: rgb(250, 255, 189);
        display: inline-block;
        height: 20px;
        border: 2px solid initial;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .login_first_row, .login_second_row {
        position: relative;
    }

    button[type=submit] {
        width: 100%;
        color: buttontext;
        text-align: center;
        background-color: buttonface;
        border-width: 2px;
        border-style: outset;
        border-color: buttonface;
        border-image: initial;
        -webkit-appearance: button;
        font-size: 13px;
    }

    button[type=submit]:active {
        border-style: inset;
    }

    input[type=button] {
        font-size: 13px;
        width: 100%;
    }
}