// PAGINATION
.pagination_wrapp {
    height: 27px;
    padding-left: 10px;
}
.newspage_wrap {
    height: unset;
    padding-left: 0px!important;
}
.pagination {
    color: $primary-color;

    .current {
        font-weight: 700;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .pagination-next {

        &:hover {
            text-decoration: underline;
        }
    }

    .pagination-next a::after {
        display: none;
    }
}

// MOBILE PAGINATION
@include breakpoint(small down) {
    .pagination_wrapp {
        margin-bottom: 10px!important;
    }
    .pagination {
        text-align: center;
        // @include horizontal-center;
        li {
            font-size: 15px;
        }

        li:first-child, li:last-child {
            display: inline-block;
        }
    }    
}