// BANNER_LINE
.banner_line {
    display: flex;
    justify-content: space-between;
    height: 95px;
    color: #FFFFFF;
    background: #0289CF;
    @include breakpoint(small down) {
        height: 65px;
    }

    .banners_wrapper {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }

    .logo_banner {
        padding: 0;
        padding-top: 36px;
        padding-left: 6px;
        height: 95px;
        width: 182px;
        @include breakpoint(small down) {
            @include horizontal-center;
            padding-top: 15px;
            height: 95px;
        }
    }

    .banner-2 {
        img.banner-2 {
            width: 150px;
            border: 0px;
            height: 80px;
            margin-top: 5px;
        }
    }

    .banner-3 {
        img.banner-3 {
            margin-top: 5px;
            width: 150px;
            border: 0px;
            height: 80px;
        }
    }

    .banner-4 {
        padding-left: 0px;
        
        img.banner-4 {
            margin-top: 5px;
            width: 150px;
            border: 0px;
            height: 80px;
        }
    }

    .my_page_info {
        width: 16%;
        margin: 5px;
        font-size: $font-size;
        color: $user_info-color;
        padding: 5px 10px 5px 10px;
        border: 1px solid $user_info-color;

        p.user_name {
            text-align: right;
            margin-bottom: 0 !important;
        }

        .my_page_links {
            margin-bottom: 0 !important;

            a {
                color: $user_info-color;
                text-decoration: underline;
                font-family: $body-font-family;
            }
        }

        input.logout_butt {
            float: right;
            background-color: $user_info-color;
            border: 1px solid #5D637B;  
            font-size: 8pt;
            padding: 0px 5px 0px 5px;
            height: 16px;      
        }
    }
}