<div class="news_wrapper flex-child-auto {{#ifpage 'faq' 'specific_question'}}questions_wrapper{{/ifpage}}">

    <!-- NEWS_CONTENT_OPEN -->
    {{#ifpage 'news'}}
        <div class="sort_wrapper hide-for-small-only">
            <form name="modes" class="sort_input">
                <p class="sorting_caption">
                    Сортировка:
                </p>
                <select name="sort" onchange="location.href='./?date=&amp;sort=' + this[this.selectedIndex].value;">
                <option value="date">по дате</option>
                <option value="hits">по популярности</option>
                </select>
            </form>
        </div>
    {{/ifpage}}
    {{#ifpage 'news'}}
        <h2 class="news_heading">
            {{news-content.heading}}
        </h2>

        <p class="preface">
        {{news-content.preface}}
        </p>

        <div class="news_pagination show-for-small-only">
            {{> pagination}}
        </div>
        {{#each news-content.news-item}}
            <article class="news_info_block clear-fix" >
                <img src="{{image_link}}" alt="news-image" class="news-image">
                <p>
                    <a class="news_blck_caption" href="{{link}}">
                        {{link_text}}
                    </a>
                </p>
                <span class="publication_date">
                    {{publication_date}}
                </span>
                <div class="news_info_wrapper ">
                    <p>
                        {{text}}
                    </p>
                </div>
            </article>
        {{/each}}

        <div class="news_pagination">
            {{> pagination}}
        </div>
    {{/ifpage}}
    <!-- NEWS_CONTENT_CLOSE -->

    <!-- LEGISLATIN_CONTENT_OPEN -->
    {{#ifpage 'legislation'}}
        <h2 class="news_heading">
            {{legislation-content.legislation_heading}}
        </h2>

        <p class="preface">
            {{legislation-content.legislation_preface}}
        </p>

        <div class="news_info_block clear-fix">
            <p>
                <a class="news_blck_caption" href="{{link}}">
                    Еженедельные обзоры от UA-TENDERS.COM
                </a>
            </p>
            <div class="news_info_wrapper legislation_wrapper">
                <strong style="color: red">
                    {{legislation-content.legislation_alert}}
                </strong>
                <p class="intr_content">
                    {{legislation-content.legislation_intr_text}}
                </p>
                <strong>
                    {{legislation-content.legislation_experts}}
                    <br>
                    {{legislation-content.legislation_experts_email}}
                </strong> 
            </div>
        </div>
        <hr>
        {{#each legislation-content.context-content}}
            <article class="news_info_block legeslation_info_block clear-fix">
                <h2>
                    <a class="news_blck_caption" href="{{link}}">
                        {{link-text}}
                    </a>
                </h2>
                <div class="news_info_wrapper legislation_wrapper legislation_description">
                    <p>
                        {{text}}
                    </p>
                </div>
            </article>
        {{/each}}
    {{/ifpage}}
    <!-- LEGISLATIN_CONTENT_CLOSE -->


    <!-- MATERIALS_CONTENT_OPEN -->
    {{#ifpage 'materials'}}
        <h2 class="news_heading">
            {{materials-content.materials_heading}}
        </h2>

        <p class="preface">
            {{materials-content.materials_preface}}
        </p>

        {{#each materials-content.context-content}}
            <article class="news_info_block legeslation_info_block clear-fix">
                <p>
                    <a class="news_blck_caption" href="{{link}}">
                        {{link-text}}
                    </a>
                </p>
                <div class="news_info_wrapper legislation_wrapper">
                    <p>
                        {{text}}
                    </p>
                </div>
            </article>
        {{/each}}
    {{/ifpage}}
    <!-- MATERIALS_CONTENT_CLOSE -->


    <!-- LEGISLATIN_LAWS_CONTENT_OPEN -->
    {{#ifpage 'legislation_laws'}}
    <h2 class="news_heading">
        {{legislation_laws.legislation_heading}}
    </h2>

    <p class="preface">
        {{legislation_laws.legislation_preface}}
    </p> 

    <div class="news_info_block legeslation_info_block clear-fix">
        <p>
            <a class="news_blck_caption" href="{{legislation_laws.legislation_intr_link}}">
                {{legislation_laws.legislation_intr_link_text}}
            </a>
        </p>
        <div class="news_info_wrapper legislation_wrapper legislation_laws_wrapper">
            <strong style="color: red">
                {{legislation_laws.legislation_alert}}
            </strong>
            <p class="changes_laws">
                {{legislation_laws.legislation_changes}}
            </p>
        </div>
    </div>
    {{#each legislation_laws.context-content}}
        <article class="news_info_block legeslation_info_block clear-fix">
            <p>
                <a class="news_blck_caption" href="{{link}}">
                    {{link-text}}
                </a>
            </p>
            <div class="news_info_wrapper legislation_wrapper legislation_laws_wrapper legislation_decription">
                <p>
                    {{text}}
                </p>
                <span class="laws_deails">
                    {{details}}
                </span>
            </div>
        </article>
    {{/each}}
    {{/ifpage}}
    <!-- LEGISLATIN_LAWS_CONTENT_CLOSE -->

    <!-- SPECIFIC_LAWS_CONTENT_OPEN -->
    {{#ifpage 'specific_law'}}
        <h2 class="news_heading">
            Законы Украины
        </h2>
        <p class="news_blck_caption">
            Закон від 25.12.2015 N 922-VIII
        </p>

        <p class="text-center law_heading">
            <em>ЗАКОН УКРАЇНИ</em>
        </p>
        <p class="text-center law_heading">
            Про публічні закупівлі
        </p>
        <p class="text-center law_heading">
            (Відомості Верховної Ради (ВВР), 2016, N 9, ст.89)
        </p>
        <div class="law_content">
            <p>
                {Із змінами, внесеними згідно із Законами N 1078-VIII від 12.04.2016, ВВР, 2016, N 21, ст.407; N 1356-VIII від 12.05.2016, ВВР, 2016, N 24, ст.488; N 1670-VIII від 06.10.2016, ВВР, 2016, N 48, ст.808; N 1761-VIII від 17.11.2016, ВВР, 2017, N 1, ст.3; N 2002-VIII від 06.04.2017, ВВР, 2017, N 21, ст.245; N 2019-VIII від 13.04.2017, ВВР, 2017, N 27-28, ст.312; N 2265-VIII від 21.12.2017}
            </p>
    
            <p>
                {Цей Закон вводиться в дію: з 1 квітня 2016 року - для центральних органів виконавчої влади та замовників, що здійснюють діяльність в окремих сферах господарювання; з 1 серпня 2016 року - для всіх замовників - див. пункт 1 розділу IX цього Закону}
            </p>
    
            <p>
                Цей Закон установлює правові та економічні засади здійснення закупівель товарів, робіт і послуг для забезпечення потреб держави та територіальної громади.  
            </p>
    
            <p>
                Метою цього Закону є забезпечення ефективного та прозорого здійснення закупівель, створення конкурентного середовища у сфері публічних закупівель, запобігання проявам корупції у цій сфері, розвиток добросовісної конкуренції.
            </p>
    
            <p class="text-center law_heading">
                Розділ I  
            </p>
    
            <p class="text-center law_heading">
                ЗАГАЛЬНІ ПОЛОЖЕННЯ 
            </p>
            
            <p>
                <strong>Стаття 1.</strong>Визначення основних термінів 
            </p>
    
            <p>
                1. У цьому Законі нижченаведені терміни вживаються в такому значенні:
            </p>
            <p>1) авторизований електронний майданчик - авторизована Уповноваженим органом інформаційно-телекомунікаційна система, яка є частиною електронної системи закупівель та забезпечує реєстрацію осіб, автоматичне розміщення, отримання і передання інформації та документів під час проведення процедур закупівель, користування сервісами з автоматичним обміном інформацією, доступ до якого здійснюється за допомогою мережі Інтернет. Порядокавторизації електронних майданчиків визначається Кабінетом Міністрів України;</p>
            <p>1<sup>1</sup>) автоматичні індикатори ризиків - критерії із заданими наперед параметрами, використання яких дає можливість автоматично здійснювати вибір процедур закупівель, що містять ознаки порушень законодавства у сфері публічних закупівель;</p>
            <p><em>{Частину першу статті 1 доповнено пунктом 1<sup>1</sup> згідно із Законом N 2265-VIII від 21.12.2017}</em></p>
            <p>2) афілійовані підприємства - підрозділи замовника, майно та операції яких зазначені в консолідованому балансі замовника, або суб&rsquo;єкти господарювання, стосовно яких замовник здійснює контроль або які разом із замовником перебувають під контролем іншого суб&rsquo;єкта господарювання;</p>
            <p>3) веб-портал Уповноваженого органу з питань закупівель (далі - веб-портал Уповноваженого органу) - інформаційно-телекомунікаційна система, до складу якої входять модуль електронного аукціону і база даних, та який є частиною електронної системи закупівель та забезпечує створення, зберігання та оприлюднення всієї інформації про закупівлі, проведення електронного аукціону, автоматичний обмін інформацією і документами та користування сервісами з автоматичним обміном інформацією, доступ до якого здійснюється за допомогою мережі Інтернет. Забезпечення функціонування веб-порталу Уповноваженого органу здійснюється у тому числі за рахунок надання авторизованим електронним майданчикам платного доступу до модуля електронного аукціону та бази даних. Порядок надання доступу та розмір плати встановлюються Кабінетом Міністрів України;</p>
            <p>4) діяльність в окремих сферах господарювання - діяльність, що здійснюється в одній або декількох з таких сфер:</p>
            <p>забезпечення виробництва, транспортування, постачання та зберігання газу;</p>
            <p>забезпечення виробництва, транспортування та постачання теплової енергії;</p>
            <p>забезпечення виробництва, передачі, розподілу, купівлі-продажу, постачання електричної енергії, централізованого диспетчерського (оперативно-технологічного) управління об&rsquo;єднаною енергетичною системою України;</p>
            <p>забезпечення виробництва, транспортування та постачання питної води, забезпечення функціонування централізованого водовідведення;</p>
            <p>надання послуг з користування інфраструктурою залізничного транспорту загального користування, забезпечення функціонування міського електричного транспорту та експлуатація його об&rsquo;єктів для надання послуг з перевезення;</p>
            <p>надання послуг автостанцій, портів, аеропортів, послуг з аеронавігаційного обслуговування польотів повітряних суден;</p>
            <p>надання послуг поштового зв&rsquo;язку, геологічне вивчення (у тому числі дослідно-промислова розробка родовищ) нафтогазоносних надр, родовищ вугілля та інших видів твердого палива;</p>
            <p>забезпечення функціонування та експлуатація телекомунікаційних мереж фіксованого зв&rsquo;язку загального користування або надання загальнодоступних телекомунікаційних послуг;</p>
            <p>забезпечення транспортування, зберігання, переробки нафти та нафтопродуктів сирих;</p>
            <p>забезпечення функціонування ринку електричної енергії, ринку &quot;на добу наперед&quot; та внутрішньодобового ринку, балансуючого ринку, ринку допоміжних послуг, а також надання послуг адміністратора розрахунків, адміністратора комерційного обліку, оператора ринку, гарантованого покупця відповідно до Закону України &quot;Про ринок електричної енергії&quot;, надання допоміжних послуг на ринку допоміжних послуг та послуг із забезпечення загальносуспільних інтересів у процесі функціонування ринку електричної енергії відповідно до Закону України &quot;Про ринок електричної енергії&quot;;</p>
            <p><em>{Абзац одинадцятий пункту 4 частини першої статті 1 в редакції Закону N 2019-VIII від 13.04.2017}</em></p>
            <p>розроблення, виготовлення, реалізація, ремонт, модернізація та утилізація озброєння, військової техніки, військової зброї і боєприпасів до неї, організація, координація, а також безпосереднє постачання товарів, виконання робіт та надання послуг на виконання державного оборонного замовлення.</p>
            <p>Не вважається діяльністю в окремих сферах господарювання така діяльність:</p>
            <p>виробництво та постачання теплової енергії до мереж загального користування, якщо таке виробництво є наслідком іншої виробничої діяльності замовника, крім діяльності, що здійснюється у сферах, визначених у цьому пункті, при цьому постачання теплової енергії здійснюється лише в цілях економної експлуатації виробничих потужностей замовника, а доходи від цієї діяльності не перевищують 20 відсотків середньорічного доходу за попередні три роки, включаючи дохід за поточний рік;</p>
            <p>виробництво, передача та постачання електричної енергії до мереж загального користування, якщо таке виробництво, передача та постачання є необхідними для споживання самим замовником для здійснення іншої виробничої діяльності, крім діяльності, що провадиться у сферах, визначених у цьому пункті, а обсяг постачання електричної енергії замовником до мереж загального користування залежить від рівня його власного споживання, за умови, що власне споживання є не меншим ніж 70 відсотків загального обсягу виробленої замовником електроенергії, розрахованого за середньорічними показниками виробництва за попередні три роки, включаючи показники за поточний рік;</p>
            <p>виробництво, транспортування та постачання питної води в мережі загального користування, якщо таке виробництво, транспортування та постачання є необхідними для споживання самим замовником для здійснення іншої виробничої діяльності, крім діяльності, що провадиться у сферах, визначених у цьому пункті, а обсяг постачання питної води замовником для загального користування залежить від рівня його власного споживання, за умови, що власне споживання є не меншим ніж 70 відсотків загального обсягу виробленої замовником питної води, розрахованого за середньорічними показниками виробництва за попередні три роки, включаючи показники за поточний рік;</p>
            <p>5) договір про закупівлю - договір, що укладається між замовником і учасником за результатами проведення процедури закупівлі та передбачає надання послуг, виконання робіт або набуття права власності на товари;</p>

        <!-- PAGINATION_OPEN -->
        <div class="grid-x  cell pagination_wrapp newspage_wrap">
            <ul class="pagination" role="navigation" aria-label="Pagination">
                <li class="pagination-previous disabled show-for-small-only">
                        предыдущая
                </li>
                <li>Страницы:</li>
                <li class="current">1</li>
                <li><a href="#" aria-label="Page 2">2</a></li>
                <li><a href="#" aria-label="Page 3">3</a></li>
                <li><a href="#" aria-label="Page 4">4</a></li>
                <li class="pagination-next">
                    <a href="#" aria-label="Next page">
                    | 	следующая
                    </a>
                </li>
            </ul>
        </div>
        <!-- PAGINATION_CLOSE -->

        {{> additional}}
        
        </div>
    {{/ifpage}}
    <!-- SPECIFIC_LAWS_CONTENT_CLOSE -->


    <!-- SPECIFIC_MATERIAL_OPEN -->
        {{#ifpage 'specific_material'}}
            <h2 class="news_heading">
                Статьи
            </h2>
            <p class="specific_news_caption">
                Тендерні закупівлі - ефективність, доведена часом
            </p>
            <div class="specific_news_block specific_material_block">
                <img src="{{root}}assets/img/materials/zakypivli.jpg" alt="">
                <p>
                    Найбільш поширеним методом державних закупівель на сьогоднішній день в Україні є проведення конкурсних торгів, тобто тендерів. Діяльність вітчизняних підприємств у цій сфері регламентується відповідним законом, нова редакція якого набрала чинності на початку минулого року. 
                </p>
                <p>
                    Згідно законодавства, <strong><a href="http://www.ua-tenders.com/tender/" target="_blank" rel="noopener">тендерні закупівлі</a></strong> можуть мати форму відкритих або двоступеневих торгів, запита цінових пропозицій, попередньої кваліфікації учасників та закупівлі в одного учасника. Під дію згаданого закону підпадають тендерні закупівлі, предмет яких має вартість, що дорівнює або перевищує сто тисяч гривень - у випадку придбання товарів чи послуг. 
                </p>
                <p>
                    Якщо ж тендерні закупівлі присвячено пошукам підрядника на виконання певних робіт, то вартість таких робіт повинна дорівнювати або бути більшою, ніж триста тисяч гривень. Уповноваженим органом, що бере на себе державне регулювання та контроль проведення зазначених вище процедур, призначено Міністерство економіки України. 
                </p>
                <p>
                    Саме тому будь-які можуть проходити лише після направлення їх замовником відповідної інформації до Мінекономіки. Якщо мова йде про використання бюджетних коштів, то аналогічна інформація про <strong><a href="http://www.ua-tenders.com/tender/" target="_blank" rel="noopener">тендерні закупівлі</a></strong> має надійти також до Рахункової палати та Головного контрольно-ревізійного управління.
                </p>
                <p>
                    Здійснюються <strong><a href="http://www.ua-tenders.com/tender/" target="_blank" rel="noopener">тендерні закупівлі</a></strong> кожним державним підприємством згідно річного плану, що розробляється та затверджується у встановленому порядку. Оголошення ж про тендерні закупівлі мають публікуватися у офіційному інформаційному бюлетені "Вісник державних закупівель" та на спеціалізованому веб-порталі Міністерства економіки, завданням яких є також висвітлення інших питань, що стосуються зазначеної сфери, зокрема підсумків процедур конкурсних торгів.
                </p>
            </div>

            <a href="http://www.ua-tenders.com/tender/" class="specific_material_link   text-center">
                <p>
                    Тендерні закупівлі 
                    <br>
                    КАТАЛОГ ДЕРЖАВНИХ ЗАКУПІВЕЛЬ
                </p>
            </a>
    
            {{> additional}}
        {{/ifpage}}
    <!-- SPECIFIC_MATERIAL_CLOSE -->

    <!-- FAQ_CONTENT_OPEN -->
    {{#ifpage 'faq' 'specific_question'}}
        <h2 class="news_heading">
            Вопросы-ответы
        </h2>

        <p class="preface">
            Консультация от экспертов - нам доверяют уже 10 лет.
        </p> 

        <img src="{{root}}assets/img/botton_left.png" alt="" class="botton_sides botton_left">
        <input type="submit" style="" value="Добавить вопрос" class="faq_btn">
        <img src="{{root}}assets/img/botton_right.png" alt="" class="botton_sides botton_right">

        {{#unlesspage 'specific_question'}}
            <div class="tender-table-list">
                <table id="tender-table-list" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <th>
                                <b>Наименование раздела</b>
                            </th>
                            <th class="thlast">
                                <b>Кол-во предложений</b>
                            </th>
                        </tr>
                        <tr class="next">
                            <td>
                                <a href="/faq/site/">
                                    Вопросы по сайту UA-Tenders
                                </a>
                                <br>
                                Вопросы по использованию и работе сайта
                            </td>
                            <td align="center" class="tblast">
                                290
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/faq/tenders/">
                                    Вопросы по тендерным процедурам
                                </a>
                                <br>
                                Обращаем ваше внимание, что эксперты в данном разделе Сайта не предоставляют официальных разъяснений законодательства,
                                не обсуждают и не комментируют решения уполномоченных органов. Все ответы носят рекомендательный характер
                                и являются выражением субъективного мнения авторов по данным вопросам. Администрация сайта оставляет за собой
                                право оставлять без ответа любой вопрос, на собственное усмотрение. Мы отвечаем ТОЛЬКО на вопросы, которые
                                касаются непосредственно проведения и участия в тендерах, а также наших услуг.
                                <br>
                                <strong>О возможности получения официального разъяснения UA-TENDERS читайте в разделе
                                    <a href="http://ua-tenders.com/rubrics/explanation"
                                        target="_blank" rel="noopener">
                                        Официальные разъяснения UA-TENDERS
                                    </a>
                                </strong>
                            </td>
                            <td align="center" class="tblast">
                                13421
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="new_questions">
                <div class="new_quest_heading">
                    Новые вопросы
                </div>
                {{#each new_questions.question-link}}
                    <div class="question_item">
                        <a href="{{link}}">
                            {{link-text}}
                        </a>
                    </div>
                {{/each}}
            </div>
        {{/unlesspage}}

        <!-- SPECIFIC_QUESTION_CONTENT_OPEN -->
            {{#ifpage 'specific_question'}}
                <p class="qst_author">
                    Автор:
                    <a href="http://5023912.ua-tenders.com/">
                        Голубенко Татьяна Анатольевна
                    </a>
                </p>
                <p class="question_publ_date">
                    Размещено: 2017-11-24 10:25:17
                </p>

                <div class="question_wrapper">
                    <p>
                        1.Подскажите пожалуйста если ФОП не работал в прошлом году, согласно какой статье закона можно сослаться о не имении договоров за предыдущий период. <br>
                        2. Аногочичный договор - это договор любой закупки или договор именно этой продуции (продукты питания)Большое спасибо.
                    </p>
                </div>

                <p class="qst_author">
                    Ответ:
                </p>

                <div class="answer_wrapper">
                    <p>
                        <strong>Щодо питання 1:</strong> Згідно з нормами частини 1 статті 16 Закону України «Про публічні закупівлі» <strong>замовник вимагає від учасників</strong> подання ними документально підтвердженої інформації <strong>про їх відповідність кваліфікаційним критеріям.</strong>
                    </p>
                    <p>
                        Одним з таких кваліфікаційних критеріїв є, зокрема, «наявність документально підтвердженого досвіду виконання аналогічного договору» (абз.4 ч.2 ст.16 Закону України «Про публічні закупівлі»). Тобто, якщо замовником встановлено вимогу щодо наявності в учасника досвіду виконання аналогічного договору за певний період, то учасник повинен обов’язково його підтвердити. В іншому випадку, за відсутності досвіду виконання аналогічного договору за встановлений замовником період, тендерна пропозиція такого учасника є такою, що не відповідає кваліфікаційним критеріям і підлягає відхиленню на підставі абз.2 п.1 ч.1 ст.30 16 Закону України «Про публічні закупівлі». 
                    </p>
                    <p>
                        <strong>Щодо питання 2:</strong> Як правило, аналогічним договором вважається договір, предметом якого є продукція аналогічна тій, що є предметом закупівлі. Наприклад: якщо замовник закуповує «М'ясо свіже», то в даному випадку аналогічним буде вважатися договір на постачання «М’яса свіжого», а договір на постачання «Овочів свіжих» не буде вважатися анаологічним.
                    </p>
                </div>
                <a href="#">
                    <img src="{{root}}assets/img/banners/prozoro_vbnr.gif" alt="Обучение работе на площадках Прозоро." class="qa_banner">
                </a>
            {{/ifpage}}
        <!-- SPECIFIC_QUESTION_CONTENT_CLOSE -->
    {{/ifpage}}
    <!-- FAQ_CONTENT_CLOSE -->
</div>