<div class="news_wrapper">

    <!-- NEWS_CONTENT_OPEN -->
    {{#ifpage 'news'}}
        <div class="sort_wrapper hide-for-small-only">
            <form name="modes" class="sort_input">
                <p class="sorting_caption">
                    Сортировка:
                </p>
                <select name="sort" onchange="location.href='./?date=&amp;sort=' + this[this.selectedIndex].value;">
                <option value="date">по дате</option>
                <option value="hits">по популярности</option>
                </select>
            </form>
        </div>
    {{/ifpage}}
    {{#ifpage 'news'}}
        <h2 class="news_heading">
            {{news-content.heading}}
        </h2>

        <p class="preface">
        {{news-content.preface}}
        </p>

        <div class="news_pagination show-for-small-only">
            {{> pagination}}
        </div>
        {{#each news-content.news-item}}
            <div class="news_info_block clear-fix">
                <img src="{{image_link}}" alt="news-image" class="news-image">
                <p>
                    <a class="news_blck_caption" href="{{link}}">
                        {{link_text}}
                    </a>
                </p>
                <span class="publication_date">
                    {{publication_date}}
                </span>
                <div class="news_info_wrapper ">
                    <p>
                        {{text}}
                    </p>
                </div>
            </div>
        {{/each}}

        <div class="news_pagination">
            {{> pagination}}
        </div>
    {{/ifpage}}
    <!-- NEWS_CONTENT_CLOSE -->

    <!-- LEGISLATIN_CONTENT_OPEN -->
    {{#ifpage 'legislation'}}
        <h2 class="news_heading">
            {{legislation-content.legislation_heading}}
        </h2>

        <p class="preface">
            {{legislation-content.legislation_preface}}
        </p>

        <div class="news_info_block clear-fix">
            <p>
                <a class="news_blck_caption" href="{{link}}">
                    Еженедельные обзоры от UA-TENDERS.COM
                </a>
            </p>
            <div class="news_info_wrapper legislation_wrapper">
                <strong style="color: red">
                    {{legislation-content.legislation_alert}}
                </strong>
                <p class="intr_content">
                    {{legislation-content.legislation_intr_text}}
                </p>
                <strong>
                    {{legislation-content.legislation_experts}}
                    <br>
                    {{legislation-content.legislation_experts_email}}
                </strong> 
            </div>
        </div>
        <hr>
        {{#each legislation-content.context-content}}
            <div class="news_info_block legeslation_info_block clear-fix">
                <p>
                    <a class="news_blck_caption" href="{{link}}">
                        {{link-text}}
                    </a>
                </p>
                <div class="news_info_wrapper legislation_wrapper">
                    <p>
                        {{text}}
                    </p>
                </div>
            </div>
        {{/each}}
    {{/ifpage}}
    <!-- LEGISLATIN_CONTENT_CLOSE -->

    <!-- LEGISLATIN_LAWS_CONTENT_OPEN -->
    {{#ifpage 'legislation_laws'}}
    <h2 class="news_heading">
        {{legislation_laws.legislation_heading}}
    </h2>

    <p class="preface">
        {{legislation_laws.legislation_preface}}
    </p> 

    <div class="news_info_block legeslation_info_block clear-fix">
        <p>
            <a class="news_blck_caption" href="{{legislation_laws.legislation_intr_link}}">
                {{legislation_laws.legislation_intr_link_text}}
            </a>
        </p>
        <div class="news_info_wrapper legislation_wrapper legislation_laws_wrapper">
            <strong style="color: red">
                {{legislation_laws.legislation_alert}}
            </strong>
            <p class="changes_laws">
                {{legislation_laws.legislation_changes}}
            </p>
        </div>
    </div>
    {{#each legislation_laws.context-content}}
        <div class="news_info_block legeslation_info_block clear-fix">
            <p>
                <a class="news_blck_caption" href="{{link}}">
                    {{link-text}}
                </a>
            </p>
            <div class="news_info_wrapper legislation_wrapper legislation_laws_wrapper">
                <p>
                    {{text}}
                </p>
                <span class="laws_deails">
                    {{details}}
                </span>
            </div>
        </div>
    {{/each}}
    {{/ifpage}}
    <!-- LEGISLATIN_LAWS_CONTENT_CLOSE -->
</div>