<div class="news_wrapper">

    <!-- NEWS_CONTENT_OPEN -->
    {{#ifpage 'news'}}
        <div class="sort_wrapper hide-for-small-only">
            <form name="modes" class="sort_input">
                <p class="sorting_caption">
                    Сортировка:
                </p>
                <select name="sort" onchange="location.href='./?date=&amp;sort=' + this[this.selectedIndex].value;">
                <option value="date">по дате</option>
                <option value="hits">по популярности</option>
                </select>
            </form>
        </div>
    {{/ifpage}}
    {{#ifpage 'news'}}
        <h2 class="news_heading">
            {{news-content.heading}}
        </h2>

        <p class="preface">
        {{news-content.preface}}
        </p>

        <div class="news_pagination show-for-small-only">
            {{> pagination}}
        </div>
        {{#each news-content.news-item}}
            <div class="news_info_block clear-fix">
                <img src="{{image_link}}" alt="news-image" class="news-image">
                <p>
                    <a class="news_blck_caption" href="{{link}}">
                        {{link_text}}
                    </a>
                </p>
                <span class="publication_date">
                    {{publication_date}}
                </span>
                <div class="news_info_wrapper ">
                    <p>
                        {{text}}
                    </p>
                </div>
            </div>
        {{/each}}

        <div class="news_pagination">
            {{> pagination}}
        </div>
    {{/ifpage}}
    <!-- NEWS_CONTENT_CLOSE -->

    <!-- LEGISLATIN_CONTENT_OPEN -->
    {{#ifpage 'legislation'}}
        <h2 class="news_heading">
            {{legislation-content.legislation_heading}}
        </h2>

        <p class="preface">
            {{legislation-content.legislation_preface}}
        </p>

        <div class="news_info_block clear-fix">
            <p>
                <a class="news_blck_caption" href="{{link}}">
                    Еженедельные обзоры от UA-TENDERS.COM
                </a>
            </p>
            <div class="news_info_wrapper legislation_wrapper">
                <strong style="color: red">
                    {{legislation-content.legislation_alert}}
                </strong>
                <p class="intr_content">
                    {{legislation-content.legislation_intr_text}}
                </p>
                <strong>
                    {{legislation-content.legislation_experts}}
                    <br>
                    {{legislation-content.legislation_experts_email}}
                </strong> 
            </div>
        </div>
        <hr>
        {{#each legislation-content.context-content}}
            <div class="news_info_block legeslation_info_block clear-fix">
                <p>
                    <a class="news_blck_caption" href="{{link}}">
                        {{link-text}}
                    </a>
                </p>
                <div class="news_info_wrapper legislation_wrapper">
                    <p>
                        {{text}}
                    </p>
                </div>
            </div>
        {{/each}}
    {{/ifpage}}
    <!-- LEGISLATIN_CONTENT_CLOSE -->

    <!-- LEGISLATIN_LAWS_CONTENT_OPEN -->
    {{#ifpage 'legislation_laws'}}
    <h2 class="news_heading">
        {{legislation_laws.legislation_heading}}
    </h2>

    <p class="preface">
        {{legislation_laws.legislation_preface}}
    </p> 

    <div class="news_info_block legeslation_info_block clear-fix">
        <p>
            <a class="news_blck_caption" href="{{legislation_laws.legislation_intr_link}}">
                {{legislation_laws.legislation_intr_link_text}}
            </a>
        </p>
        <div class="news_info_wrapper legislation_wrapper legislation_laws_wrapper">
            <strong style="color: red">
                {{legislation_laws.legislation_alert}}
            </strong>
            <p class="changes_laws">
                {{legislation_laws.legislation_changes}}
            </p>
        </div>
    </div>
    {{#each legislation_laws.context-content}}
        <div class="news_info_block legeslation_info_block clear-fix">
            <p>
                <a class="news_blck_caption" href="{{link}}">
                    {{link-text}}
                </a>
            </p>
            <div class="news_info_wrapper legislation_wrapper legislation_laws_wrapper">
                <p>
                    {{text}}
                </p>
                <span class="laws_deails">
                    {{details}}
                </span>
            </div>
        </div>
    {{/each}}
    {{/ifpage}}
    <!-- LEGISLATIN_LAWS_CONTENT_CLOSE -->

    <!-- SPECIFIC_LAWS_CONTENT_OPEN -->
    {{#ifpage 'specific_law'}}
        <h2 class="news_heading">
            Законы Украины
        </h2>
        <p class="news_blck_caption">
            Закон від 25.12.2015 N 922-VIII
        </p>

        <p class="text-center law_heading">
            <em>ЗАКОН УКРАЇНИ</em>
        </p>
        <p class="text-center law_heading">
            Про публічні закупівлі
        </p>
        <p class="text-center law_heading">
            (Відомості Верховної Ради (ВВР), 2016, N 9, ст.89)
        </p>
        <div class="law_content">
            <p>
                {Із змінами, внесеними згідно із Законами N 1078-VIII від 12.04.2016, ВВР, 2016, N 21, ст.407; N 1356-VIII від 12.05.2016, ВВР, 2016, N 24, ст.488; N 1670-VIII від 06.10.2016, ВВР, 2016, N 48, ст.808; N 1761-VIII від 17.11.2016, ВВР, 2017, N 1, ст.3; N 2002-VIII від 06.04.2017, ВВР, 2017, N 21, ст.245; N 2019-VIII від 13.04.2017, ВВР, 2017, N 27-28, ст.312; N 2265-VIII від 21.12.2017}
            </p>
    
            <p>
                {Цей Закон вводиться в дію: з 1 квітня 2016 року - для центральних органів виконавчої влади та замовників, що здійснюють діяльність в окремих сферах господарювання; з 1 серпня 2016 року - для всіх замовників - див. пункт 1 розділу IX цього Закону}
            </p>
    
            <p>
                Цей Закон установлює правові та економічні засади здійснення закупівель товарів, робіт і послуг для забезпечення потреб держави та територіальної громади.  
            </p>
    
            <p>
                Метою цього Закону є забезпечення ефективного та прозорого здійснення закупівель, створення конкурентного середовища у сфері публічних закупівель, запобігання проявам корупції у цій сфері, розвиток добросовісної конкуренції.
            </p>
    
            <p class="text-center law_heading">
                Розділ I  
            </p>
    
            <p class="text-center law_heading">
                ЗАГАЛЬНІ ПОЛОЖЕННЯ 
            </p>
            
            <p>
                <strong>Стаття 1.</strong>Визначення основних термінів 
            </p>
    
            <p>
                1. У цьому Законі нижченаведені терміни вживаються в такому значенні:
            </p>
            <p>1) авторизований електронний майданчик - авторизована Уповноваженим органом інформаційно-телекомунікаційна система, яка є частиною електронної системи закупівель та забезпечує реєстрацію осіб, автоматичне розміщення, отримання і передання інформації та документів під час проведення процедур закупівель, користування сервісами з автоматичним обміном інформацією, доступ до якого здійснюється за допомогою мережі Інтернет. Порядокавторизації електронних майданчиків визначається Кабінетом Міністрів України;</p>
            <p>1<sup>1</sup>) автоматичні індикатори ризиків - критерії із заданими наперед параметрами, використання яких дає можливість автоматично здійснювати вибір процедур закупівель, що містять ознаки порушень законодавства у сфері публічних закупівель;</p>
            <p><em>{Частину першу статті 1 доповнено пунктом 1<sup>1</sup> згідно із Законом N 2265-VIII від 21.12.2017}</em></p>
            <p>2) афілійовані підприємства - підрозділи замовника, майно та операції яких зазначені в консолідованому балансі замовника, або суб&rsquo;єкти господарювання, стосовно яких замовник здійснює контроль або які разом із замовником перебувають під контролем іншого суб&rsquo;єкта господарювання;</p>
            <p>3) веб-портал Уповноваженого органу з питань закупівель (далі - веб-портал Уповноваженого органу) - інформаційно-телекомунікаційна система, до складу якої входять модуль електронного аукціону і база даних, та який є частиною електронної системи закупівель та забезпечує створення, зберігання та оприлюднення всієї інформації про закупівлі, проведення електронного аукціону, автоматичний обмін інформацією і документами та користування сервісами з автоматичним обміном інформацією, доступ до якого здійснюється за допомогою мережі Інтернет. Забезпечення функціонування веб-порталу Уповноваженого органу здійснюється у тому числі за рахунок надання авторизованим електронним майданчикам платного доступу до модуля електронного аукціону та бази даних. Порядок надання доступу та розмір плати встановлюються Кабінетом Міністрів України;</p>
            <p>4) діяльність в окремих сферах господарювання - діяльність, що здійснюється в одній або декількох з таких сфер:</p>
            <p>забезпечення виробництва, транспортування, постачання та зберігання газу;</p>
            <p>забезпечення виробництва, транспортування та постачання теплової енергії;</p>
            <p>забезпечення виробництва, передачі, розподілу, купівлі-продажу, постачання електричної енергії, централізованого диспетчерського (оперативно-технологічного) управління об&rsquo;єднаною енергетичною системою України;</p>
            <p>забезпечення виробництва, транспортування та постачання питної води, забезпечення функціонування централізованого водовідведення;</p>
            <p>надання послуг з користування інфраструктурою залізничного транспорту загального користування, забезпечення функціонування міського електричного транспорту та експлуатація його об&rsquo;єктів для надання послуг з перевезення;</p>
            <p>надання послуг автостанцій, портів, аеропортів, послуг з аеронавігаційного обслуговування польотів повітряних суден;</p>
            <p>надання послуг поштового зв&rsquo;язку, геологічне вивчення (у тому числі дослідно-промислова розробка родовищ) нафтогазоносних надр, родовищ вугілля та інших видів твердого палива;</p>
            <p>забезпечення функціонування та експлуатація телекомунікаційних мереж фіксованого зв&rsquo;язку загального користування або надання загальнодоступних телекомунікаційних послуг;</p>
            <p>забезпечення транспортування, зберігання, переробки нафти та нафтопродуктів сирих;</p>
            <p>забезпечення функціонування ринку електричної енергії, ринку &quot;на добу наперед&quot; та внутрішньодобового ринку, балансуючого ринку, ринку допоміжних послуг, а також надання послуг адміністратора розрахунків, адміністратора комерційного обліку, оператора ринку, гарантованого покупця відповідно до Закону України &quot;Про ринок електричної енергії&quot;, надання допоміжних послуг на ринку допоміжних послуг та послуг із забезпечення загальносуспільних інтересів у процесі функціонування ринку електричної енергії відповідно до Закону України &quot;Про ринок електричної енергії&quot;;</p>
            <p><em>{Абзац одинадцятий пункту 4 частини першої статті 1 в редакції Закону N 2019-VIII від 13.04.2017}</em></p>
            <p>розроблення, виготовлення, реалізація, ремонт, модернізація та утилізація озброєння, військової техніки, військової зброї і боєприпасів до неї, організація, координація, а також безпосереднє постачання товарів, виконання робіт та надання послуг на виконання державного оборонного замовлення.</p>
            <p>Не вважається діяльністю в окремих сферах господарювання така діяльність:</p>
            <p>виробництво та постачання теплової енергії до мереж загального користування, якщо таке виробництво є наслідком іншої виробничої діяльності замовника, крім діяльності, що здійснюється у сферах, визначених у цьому пункті, при цьому постачання теплової енергії здійснюється лише в цілях економної експлуатації виробничих потужностей замовника, а доходи від цієї діяльності не перевищують 20 відсотків середньорічного доходу за попередні три роки, включаючи дохід за поточний рік;</p>
            <p>виробництво, передача та постачання електричної енергії до мереж загального користування, якщо таке виробництво, передача та постачання є необхідними для споживання самим замовником для здійснення іншої виробничої діяльності, крім діяльності, що провадиться у сферах, визначених у цьому пункті, а обсяг постачання електричної енергії замовником до мереж загального користування залежить від рівня його власного споживання, за умови, що власне споживання є не меншим ніж 70 відсотків загального обсягу виробленої замовником електроенергії, розрахованого за середньорічними показниками виробництва за попередні три роки, включаючи показники за поточний рік;</p>
            <p>виробництво, транспортування та постачання питної води в мережі загального користування, якщо таке виробництво, транспортування та постачання є необхідними для споживання самим замовником для здійснення іншої виробничої діяльності, крім діяльності, що провадиться у сферах, визначених у цьому пункті, а обсяг постачання питної води замовником для загального користування залежить від рівня його власного споживання, за умови, що власне споживання є не меншим ніж 70 відсотків загального обсягу виробленої замовником питної води, розрахованого за середньорічними показниками виробництва за попередні три роки, включаючи показники за поточний рік;</p>
            <p>5) договір про закупівлю - договір, що укладається між замовником і учасником за результатами проведення процедури закупівлі та передбачає надання послуг, виконання робіт або набуття права власності на товари;</p>

        <!-- PAGINATION_OPEN -->
        <div class="grid-x  cell pagination_wrapp newspage_wrap">
            <ul class="pagination" role="navigation" aria-label="Pagination">
                <li class="pagination-previous disabled show-for-small-only">
                        предыдущая
                </li>
                <li>Страницы:</li>
                <li class="current">1</li>
                <li><a href="#" aria-label="Page 2">2</a></li>
                <li><a href="#" aria-label="Page 3">3</a></li>
                <li><a href="#" aria-label="Page 4">4</a></li>
                <li class="pagination-next">
                    <a href="#" aria-label="Next page">
                    | 	следующая
                    </a>
                </li>
            </ul>
        </div>
        <!-- PAGINATION_CLOSE -->

        {{> additional}}
        
        </div>
    {{/ifpage}}
    <!-- SPECIFIC_LAWS_CONTENT_CLOSE -->
</div>