<!-- FOOTER_OPEN -->
<div class="footer_block hide-for-small-only">
    <div class="instr_caption hide-for-small-only">
        <img src="{{root}}assets/img/icons/info_tenders.gif" alt="footer_icon" class="foooter_info">
        <p>
            Почему стоит зарегистрироваться
        </p>
    </div>
    <a href="http://www.liveinternet.ru/click;ua-tenders" target="_blank">
        <img src="{{root}}assets/img/icons/hit.gif" alt="hit" class="hit_icon">
    </a>
</div>
<div class="footer_instr_consul hide-for-small-only">
    <div class="instr_body hide-for-small-only grid-x">
        <div class="instr_block instr_block1 cell large-4">
            <div class="footer_img_wrapper">
                <a href="/tender/all/?b=all&a=all&t=all&p=&z=">
                    <picture>
                        <source media="(max-width: 768px)" srcset="{{root}}assets/img/comix1_mob.jpg">
                        <img src="{{root}}assets/img/comix1.jpg" alt="instruction_1" class="lazy" data-src="assets/img/comix1.jpg">
                    </picture>
                </a>
            </div>
            <div class="instr_block_text">
                <a href="/tender/all/?b=all&a=all&t=all&p=&z=">
                    Ищете тендеры и закупки ?
                </a>
                <br>
                <strong class="footer_bold">
                    Сайт торгов
                </strong>
                <p>
                    Более 1000 тендеров онлайн
                </p>
            </div>
        </div>
        <div class="instr_block instr_block2 cell large-4">
            <div class="footer_img_wrapper">
                <a href="/reg/">
                    <picture>
                        <source media="(max-width: 768px)" srcset="{{root}}assets/img/comix2_mob.jpg">
                        <img src="{{root}}assets/img/comix2.jpg" alt="instruction_1" class="lazy" data-src="assets/img/comix2.jpg">
                    </picture>
                </a>
            </div>
            <div class="instr_block_text">
                <a href="/reg/">
                    Зарегистрируйтесь!
                    <br>
                    Получайте новые тендеры на e-mail.
                    Рекламируйтесь на портале.*
                </a>
                <br>
                <p>
                    *Бесплатные услуги
                </p>
            </div>
        </div>
        <div class="instr_block instr_block3 cell large-4">
            <div class="footer_img_wrapper">
                <a href="/profile/access/">
                    <picture>
                        <source media="(max-width: 768px)" srcset="{{root}}assets/img/comix3_mob.jpg">
                        <img src="{{root}}assets/img/comix3.jpg" alt="instruction_1" class="lazy" data-src="assets/img/comix3.jpg">
                    </picture>
                </a>
            </div>
            <div class="instr_block_text">
                <a href="/profile/access/">
                    Получите полный доступ ко всем тендерам.*
                </a>
                <br>
                <p>
                    *От 50 грн. в месяц
                </p>
            </div>
        </div>
    </div>
    <div class="footer-menu">
        <p class="footer_consultation">
            Консультации по госзакупкам: (044) 581-28-16
        </p>
        <div class="footer_cons_wrapper">
            <div class="left-cons">
                <p>
                    Заказчикам: 
                </p>
                <ul>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/explanation/">
                            Консультации по ГОСЗАКУПКАМ. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/books/">
                            Наши книги по госзакупкам. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/learning/">
                            Обучение и сертификаты. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/announcement/">
                            Размещение объявлений. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/services/expresstender/">
                            Проведение процедур закупок. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/examination/">
                            Переговорная процедура закупки. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/zakupka_elektro/">
                            Закупка электроэнергии. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/services/system/">
                            Электронные торги. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/audit/">
                            Аудит торгов перед проверкой. 
                        </a>
                    </li>
                </ul>
            </div>
            <div class="right-cons">
                <p>
                    Поставщикам: 
                </p>
                <ul>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/services/suppliers/">
                            Подготовка предложения. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/guarantee/">
                            Банковская гарантия без залога. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/complaint/">
                            Обжалование результатов.  
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/analitics/">
                            Отчеты по закупкам.  
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/bankruptcy/">
                            Справка о банкротстве. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/corruption/">
                            Справка о коррупции. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/price/">
                            Справка по цене.  
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/egrpou/">
                            Выписка из ЕГРПОУ. 
                        </a>
                    </li>
                    <li>
                        <a href="http://www.ua-tenders.com/rubrics/vityag/">
                            Выписка ЕГРЮЛ. 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="phone">
    <p class="footer_phone">
        (044) 239-27-39, 237-17-23, 230-82-27, 425-46-47, 581-28-21
    </p>
    <ul class="footer_left_menu">
        <li>
            <a href="http://www.ua-tenders.com/rubrics/services/reklama/">
                <img src="{{root}}assets/img/icons/icon_pointer.gif" alt="menu_icon">
                Реклама
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/about/agreement/">
                <img src="{{root}}assets/img/icons/icon_pointer.gif" alt="menu_icon">
                Соглашение
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/contacts/">
                <img src="{{root}}assets/img/icons/icon_pointer.gif" alt="menu_icon">
                Контакт
            </a>
        </li>
    </ul>
    <a href="http://www.ua-tenders.com/?nomobile=true" class="full_version show-for-small-only">
        Полная версия сайта
    </a>
</div>

<div class="footer_bottom_line">
    <div class="bottom-line-left">
        <a href="http://www.ua-tenders.com/news/rss/" class="hide-for-small-only">
            <img src="{{root}}assets/img/icons/rss_all.gif" alt="rss_icon" class="footer_line_icon">
        </a>
        <p>
            Copyright © 2002
            <a href="http://www.ua-tenders.com">www.ua-tenders.com</a>
                - 
            <a href="http://www.ua-tenders.com">Тендеры, закупки, торги</a>
            .
            <a href="http://www.ua-tenders.com/rubrics/about/agreement/">УСЛОВИЯ
                ИСПОЛЬЗОВАНИЯ</a>
            . При перепечатке материалов гиперссылка на 
            <a href="http://www.ua-tenders.com">Ua-Tenders.com</a>
                обязательна.
        </p>
    </div>
    <div class="bottom-line-right">
        <img src="{{root}}assets/img/icons/dynamic.gif" alt="dynamicGif" class="dynamic hide-for-small-only">
        <a href="/dinamics/" class="dynamic hide-for-small-only">
            динамика сайта	
        </a>
    </div>
</div> 
<!-- FOOTER_CLOSE -->