<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    <!-- Close button open-->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <!-- Close button close-->


    <!-- MOBILE MENU OPEN -->
    <ul class="vertical menu mobile_menu">
        <li>
            <a href="http://www.ua-tenders.com/">
                Главная	
            </a>
        </li>
        <li>
            <a href="https://sendruck.github.io/ua_tenderss/dist/news.html">
                Новости	
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/services/expresstender/">
                Заказчики
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/services/tenders/">
                Поставщики
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/guarantee/">
                Тендеры
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/garantiya_turfirmam/">
                Услуги
            </a>
        </li>
        <li>
            <a href="https://sendruck.github.io/ua_tenderss/dist/materials.html">
                Статьи
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/inquiry/">
                Контакт
            </a>
        </li>
    </ul>
    <!-- MOBILE MENU OPEN -->

</div>
