<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    <!-- Close button open-->
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <!-- Close button close-->


    <!-- MOBILE MENU OPEN -->
    <ul class="vertical menu mobile_menu">
        <li>
            <a href="http://www.ua-tenders.com/">
                Главная	
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/services/expresstender/">
                Заказчикам
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/services/tenders/">
                Поставщикам
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/guarantee/">
                Банковская гарантия
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/garantiya_turfirmam/">
                Гарантия турфирмам
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/learning/">
                Семинары
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/inquiry/">
                Справки
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/complaint/">
                Жалобы
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/audit/">
                Проверки-Аудит
            </a>
        </li>
        <li>
            <a href="http://www.ua-tenders.com/rubrics/examination/">
                Экспертиза
            </a>
        </li>
    </ul>
    <!-- MOBILE MENU OPEN -->

</div>
