//TABLET FILTERS
@include breakpoint(medium only) {
    .filter_block {
        .filter_input {
            select,  input[type='text'] {
                height: 25px!important;
                font-size: 13px!important;
            }
        }
    }

    .hints_block {
        flex: unset!important;
        margin-bottom: 15px!important;
    }

    .right_banner {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .table_col {
        margin-top: 8px;
        margin-bottom: 5px;
    }

    span.dotsBtn {
        padding: 3px;
        padding-top: 0px;
        border-radius: 3px;
        margin-left: 5px;
        font-size: 10px;
        border: 1px solid;
    }
}