//MOBILE FAQ
@include breakpoint(small down) {
    .questions_wrapper {
        width: 100%!important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .faq_btn {
        width: 80%;
    }

    .question_item {
        height: unset;
        padding-bottom: 15px;
    }
}