//MOBILE_CUSTOMERS
@include breakpoint(small down) {
    .customer-table {
        .contracts-col, .verif-tenders-col {
            width: 100%!important;
        }
        
        #customer-name {
            a {
                width: 120%!important;
            }
        }

        td::after {
            width: 39%!important;
        }

        td.numb_col {
            width: 100%;
        }
    }
}

@include breakpoint(medium only) {
    .grid-x {
        .specific-customer-right-block {
            width: 200px!important;
        }

        .tb-selector {
            background: unset!important;
            select {
                height: 25px!important;
                font-style: 11px!important;
                padding-right: 20px!important;
            }
        }

        .customer_info {
            height: unset!important;
        }
    }
}