//SUPPLIERS
.suppliers_wrapp {
    padding-left: 13px;
    .suppliers_heading {
        h2 {
            color: #666666;
            padding: 0;
            margin: 10px 0 10px 0;
            font-size: 16px;
            font-family: $body-font-family;
            font-weight: 700;
        }

        p {
            font-weight: 700;
            margin-bottom: 10px!important;
        }
    }
    p {
        color: $primary-color;
        font-family: Verdana, Arial, sans-serif;
        font-size: $font-size;
        font-weight: 400;
        margin-bottom: 0px!important;
    }

    span {
        font-size: 7pt;
        color: #666666;
        display: block;
    }

    input[type=text] {
        width: 300px;
        height: 20px;
        display: inline-block;
        margin-right: 10px;

        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }

    input[type=submit] {
        padding: 1px 6px;
        -webkit-appearance: push-button;
        height: 20px;
        font-size: 13px;
    } 

    .pagination {
        margin-bottom: 5px!important;
    }

    .suppliers_table_wrapp {
        margin-left: 0px!important;
    }

    #suppliers-table {
        th b {
            text-align: center!important;
        }

        tr:nth-child(odd) {
            background: #FAF9F7;
        }

        .industry_col {
            width: 30%;
        }

        td {
            text-align: left;
            a {
                font-weight: 400!important;
            } 
        }

        .numb_col {
            text-align: center;
        }
    }
}