<!-- TENDERS_TABLE_OPEN -->
<div class="grid-x cell table_col" id="tablee">
    <table class="responsive-card-table unstriped">
        <thead>
            <tr>
                <th class="num_col">№</th>
                <th class="add_col">
                    <input type="image" src="{{root}}assets/img/zak.gif" title="Для добавления тендера в закладки нажмите на красную точку слева от тендера!">
                </th>
                <th class="date_publ_col">
                    <a href="/tender/trz/1/?a=&t=all&b=trz&p=&z=&region=&st=all&min_amount=0&max_amount=0&o=asc&oc=1">
                        Дата <br> публикации
                        <span style="font-size: 130%;">↓</span>
                    </a>
                </th>
                <th class="predm_col">
                    Предмет закупки	
                </th>
                <th class="deliv_col">
                    Поставка и выполнение	
                </th>
                <th class="date_pod_col">
                    <a href="/tender/trz/1/?a=&t=all&b=trz&p=&z=&region=&st=all&min_amount=0&max_amount=0&o=asc&oc=2">
                        Дата подачи <br> предложения
                    </a>	
                </th>
                <th class="summ_col">
                    Сумма закупки	
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each tenders-table.table-row}}
                <tr>
                    <td class="num_col"  data-label="№">
                        {{numb}}
                    </td>
                    <td class="add_col" data-label="Добавить в закладки">
                        <input type="image" src="{{root}}assets/img/tochka.gif" title="Добавить тендер в закладки!" onclick="return confirm('Хотите добавить тендер в закладки и узнать о результатах первыми ?\nПросмотреть свои закладки Вы можете в разделе &quot;Мои закладки&quot; в своем профайле.');">
                    </td>
                    <td class="date_publ_col" data-label="Дата публикации">
                        {{publication_date}}
                    </td>
                    <td class="predm_col" data-label="Предмет закупки">
                        <a class="tender_link" href="{{tender_link}}" target="_blank">
                            {{tender_title}}
                        </a>
                    </td>
                    <td class="deliv_col" data-label="Поставка и выполнение">
                        <p class="deliv_paragraph">
                            {{deliv_paragraph}}
                        </p>
                    </td>
                    <td class="date_pod_col" data-label="Дата подачи предложения">
                        {{date_pod_col}}
                    </td>
                    <td class="summ_col" data-label="Сумма закупки">
                        {{summ_col}}
                    </td>
                </tr>
            {{/each }}
        </tbody>
    </table>
</div>

<!-- TENDERS_TABLE_CLOSE -->