//MAIN PAGE CONTENT
.main_page_right_banner {
    width: 240px!important;
    padding-right: 5px;
}

//MAIN PAGE CATALOG
.main_tender_catalog {
    padding-top: 25px;
    padding-right: 5px;
    padding-left: 10px;
    h1 {
        color: $primary-color;
        font-size: 12pt;
        font-family: Verdana, Arial, sans-serif;
        font-weight: 700;
    }

    li {
        position: relative;
        margin-bottom: 2px;
    }

    p {
        position: absolute;
        right: 0px;
        top: 0px;
    }
}

.tender_catalog_wrapp {
    padding: 5px 35px 3px 3px;
    border: 1px solid #E5F1FD;

    ul {
        margin-bottom: 0px;
    }

    a, p {
        color: $primary-color;
        font-weight: 700;
        font-family: Verdana, Arial, sans-serif;
        font-size: 10pt;

        &:hover {
            text-decoration: underline;
        }
    }

    sup {
        color: #FF5E0B;
        font-weight: bold;
    }

    p {
        font-weight: 400;
    }
}

.second_catalog_column {
    margin-left: 4%;
}


//MAIN PAGE MENU
.main_page_catalog_menu {
    margin-top: 10px;

    ul {
        border: 1px solid #E5F1FD;
        padding-left: 15px;
    }
    li {
        display: inline;
        height: 25px;
        width: 20%;
        a {
            color: #888!important;
            font-family: Verdana, Arial, sans-serif;
            font-size: $font-size;
            background: #fff url("../img/icons/tender_link_item.gif") 7px 7px no-repeat;
            padding-top: 5px;
            padding-bottom: 5px;
            vertical-align: middle;
            margin-top: 4px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.banner-main-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

//LAST NEWS BLOCK
.last-news-list {
    margin-left: 2px;
    ul {
        margin-bottom: 15px!important;        
        li {
            padding-top: 3px;
            p {
                color: $primary-color;
                font-size: $font-size;
                font-family: Verdana, sans-serif;
                font-weight: 700;
                margin-bottom: 3px;
            }
            a {
                font-weight: 400!important;
            }
            &:nth-child(odd) {
                background: #F8FBFD url("../img/icons/b_news_item.gif") no-repeat 0 26px!important;
                height: unset!important;
                padding-left: 25px!important;
            }
            &:nth-child(even) {
                background: #F0F6FC url("../img/icons/b_news_item.gif") no-repeat 0 26px!important;
                height: unset!important;
                padding-left: 25px!important;
            }
        }
    }
}

//TOP NEWS BLOCK
.top-news-title {
    margin-bottom: 15px;
}
li.top-news-item {
    height: unset!important;
    border: none!important;
    background:  url("../img/icons/w_item.gif") no-repeat 12px 3px!important;
    padding-left: 25px!important;
    margin-bottom: 7px!important;

    a {
        font-weight: 400!important;
    }
}

#top_news_margin {
    margin-bottom: 8px!important;
}


//NEWS SUBSCRIPTION
.main-page-subscription {
    background: transparent;
    border: none;

    input[type=text] {
        width: 156px;
        box-shadow: none;
        height: 24px;
    }

    a.ok_button {
        height: 24px;
        padding: 3px 10px 3px 10px;
        background: #FCDC83;
        border: 1px solid #E2BA6E;
    }

    .export_materials {
        color: $primary-color;
        font-size: $font-size;
        font-weight: 700;
        font-family: Verdana, Arial, sans-serif;
        background:  url("../img/icons/w_item.gif") no-repeat 3px 3px!important;
        padding-left: 15px;

        &:hover {
            text-decoration: underline;
        }

        img {
            vertical-align: baseline;
        }
    }
}
.main_content_right_block {
    padding-left: 13px;
}

.update-item {
    height: unset!important;
    border: none!important;
    background:  url("../img/icons/w_item.gif") no-repeat 12px 3px!important;
    padding-left: 25px!important;
    margin-bottom: 1px!important;

    a {
        font-weight: 400!important;
    }
}

//ADD NEWS LINK
.add_news_link {
    color:#F00; 
    float:right; 
    font-weight:bold; 
    font-size: 11px; 
    display: block;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;

    &:hover {
        text-decoration: underline;
        color:#F00; 
    }
}

//OFFERS
.offers {
    margin-bottom: 0px!important;
    li {
        border: 1px solid #CCE5FE!important;
        border-bottom: none!important;
        height: 44px!important;
        padding: 2px 5px 2px 5px;
        background:  url("../img/icons/mes.gif") no-repeat 12px 6px!important;
        a {
            padding-left: 25px;
            font-weight: 400!important;
        }
    }
}

.add_offer {
    border: 1px solid #CCE5FE!important;
    height: 47px!important;
    padding: 2px 5px 2px 12px;
    margin-bottom: 25px;

    p {
        color: #666666;
        font: bold 11px Verdana, Arial, sans-serif;
        padding-left: 18px;
        background:  url("../img/icons/mes_add.gif") no-repeat 0px 0px!important;
        margin-bottom: 0;
    }

    select {
        margin: 0;
        padding: 0;
        padding-left: 5px;
        padding-right: 25px;
        height: 15px;
        font-size: 9px;
        line-height: normal;
        font-family: "MS Sans Serif", Arial, Verdana, sans-serif;
        margin-bottom: 3px;
    }
}

//QUESTION AND ANSWERS
.qAndA {
    margin-bottom: 0px!important;
    li {
        padding-left: 20px;
        border: 1px solid #CCE5FE!important;
        border-bottom: none!important;
        height: 44px!important;
        padding: 2px 5px 2px 5px;
        background:  url("../img/icons/ques.gif") no-repeat 20px 3px!important;
        a {
            padding-left: 35px;
            font-weight: 400!important;
        }
    }
}

.add_question {
    border: 1px solid #CCE5FE!important;
    height: 47px!important;
    padding: 2px 5px 2px 12px;
    margin-bottom: 25px;

    p {
        margin-bottom: 0;
        font: bold 11px Verdana, Arial, sans-serif;
        color: $primary-color;
        font-weight: 400;
    }
    select {
        margin: 0;
        padding: 0;
        padding-left: 5px;
        padding-right: 25px;
        height: 15px;
        font-size: 9px;
        line-height: normal;
        font-family: "MS Sans Serif", Arial, Verdana, sans-serif;
        margin-bottom: 3px;
    }
}


//FORUM
.forum-title {
    position: relative;
}

span.seen, span.answered {
    position: absolute;
    right: 5px;
    top: 2px;
    font-weight: 400;
}

span.answered {
    right: 18%!important;
}

.forum {
    margin-bottom: 0px!important;
    li {
        position: relative;
        padding-left: 20px;
        border: 1px solid #CCE5FE!important;
        border-bottom: none!important;
        height: 44px!important;
        padding: 2px 5px 2px 5px;
        background:  url("../img/icons/forum.gif") no-repeat 20px 3px!important;
        a {
            display: block;
            width: 70%;
            padding-left: 35px;
            font-weight: 400!important;
        }

        span {
            color: #666666;
            font-size: $font-size;
            font-family: Verdana, Arial, sans-serif;
        }
    }
}

.all_forums {
    background:  url("../img/icons/forum_add.gif") no-repeat 15px 3px !important;
    a {
        color: #666666;
        font-size: $font-size;
        font-family: Verdana, Arial, sans-serif;
        font-weight: 700;
        padding-left: 25px;

        &:hover {
            text-decoration: underline;
        }
    }
}


