 <!-- TENDER_RIGHT_BLOCK_OPEN -->
 <div class="large-shrink cell right-column hide-for-small-only ">
    <div id="context-menu">
        {{> select-industry}}
        {{> context-menu}}

        <div>
            <a href="#" class="bank_garant_wrapper">
                <picture>
                    <source media="(max-width: 768px)" srcset="assets/img/banners/mobile.gif">
                    <img src="assets/img/banners/2228643673625732697.gif" alt="" class="bank_garant hide-for-small-only">
                </picture>
            </a>

            <p class="order_adds_wrapper hide-for-small-only">
                <a href="http://www.ua-tenders.com/rubrics/services/reklama/66061/" target="_blank"  class="order_adds">
                    Заказать рекламу
                </a>
            </p>
        </div>
        </div>
    </div>
</div>
<!-- TENDER_RIGHT_BLOCK_CLOSE -->