 <!-- TENDER_RIGHT_BLOCK_OPEN -->
 <div class="large-2 cell right-column hide_small">
    <div id="context-menu">
        {{> select-industry}}
        {{> context-menu}}

        <div style="width:240px;">
            <div id="div-gpt-ad-1363969703647-0" style="width:240px; height:400px;">
                <script data-cfasync="false" src="/cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script>
                <script type="text/javascript">
                    googletag.cmd.push(function () {
                        googletag.display('div-gpt-ad-1363969703647-0');
                    });
                </script>
        </div>

        <!-- <a href="#" class="bank_garant_wrapper">
            <img src="images/2228643673625732697.gif" alt="" class="bank_garant hide_small">
        </a>

        <p class="order_adds_wrapper hide_small">
            <a href="http://www.ua-tenders.com/rubrics/services/reklama/66061/" target="_blank"  class="order_adds">
                Заказать рекламу
            </a>
        </p> -->
    </div>
</div>
<!-- TENDER_RIGHT_BLOCK_CLOSE -->