

<div class="large-10 cell tender_cards">
    <div class="tender_info_wrapper customer_block hide-for-small-only">
        {{> error-buttons}}
        <h2>
            {{specific-tender.customer}}
        </h2>
    </div>

    <div class="tender_info_block">
        <h3 class="tender_blck_caption">
            Статус тендера
        </h3>
        <div class="tender_info_wrapper ">
            <p>
                {{specific-tender.status}}
            </p>
        </div>
    </div>

    <div class="tender_info_block">
        <div class="tender_info_wrapper ">
            <p>
                Процедура закупки: <span class="tender_highl">{{specific-tender.procedure}}</span> 
            </p>
            <p>
                Дата размещения: <span class="tender_highl">{{specific-tender.pub_date}}</span>
            </p>
        </div>
    </div>

    <div class="tender_info_block">
        <h3 class="tender_blck_caption">
            Информация о публикации
        </h3>
        <div class="tender_info_wrapper ">
            <p>
                Номер тендера: <span class="tender_highl">{{specific-tender.tender_num}}</span>
            </p>
        </div>
    </div>

    <div class="tender_info_block">
        <h3 class="tender_blck_caption">
            Информация о предмете закупки
        </h3>
        <div class="tender_info_wrapper ">
            <span class="predmet_zak">
                <div class="predmet_wrapper">
                    <p>
                        <span class="noHighlight">Предмет закупки:</span> <span class="tender_highl">{{specific-tender.predmet_zak}}</span>
                    </p>
                    <p>
                        <span class="tender_highl">
                            {{specific-tender.predment_zak_2p}}
                        </span>
                    </p>
                </div>
            </span>
            <p class="tender_mrgn">
                Место и срок поставки: <span class="tender_highl">{{specific-tender.delivery_addr}}</span>
            </p>
        </div>
    </div>	

    <div class="tender_info_block">
        <h3 class="tender_blck_caption">
            Ожидаемая сумма закупки
        </h3>
        <div class="tender_info_wrapper ">
            <p>
                {{specific-tender.expected_summ}}
            </p>
        </div>
    </div>

    <!-- SHOW_FOR_MOBILE_ONLY -->

    <div class="tender_info_wrapper customer_block show-for-small-only">
        <h2>
            Заказчик: Лівобережна районна адміністрація Маріупольської міської ради, 04053230
        </h2>
    </div>

    <div class="tender_info_block hide_not_small">
        <h3 class="tender_blck_caption">
            Информация о публикации
        </h3>
        <div class="tender_info_wrapper ">
            <p>
                Номер тендера: <span class="tender_highl">UA-2018-01-18-000024-a</span>
            </p>
        </div>
    </div>

    <!-- SHOW_FOR_MOBILE_ONLY_CLOSE -->


    <div class="tender_info_block">
        <h3 class="tender_blck_caption">
            Дополнительная информация
        </h3>
        <div class="tender_info_wrapper ">
            <p>
                <span class="tender_highl">Мiнiмальний крок:</span>{{specific-tender.min_step}}
            </p>
            <p>
                <span class="tender_highl">Закiнчення перiоду уточнення:</span> {{specific-tender.period_zakinch}}
            </p>
            <p>
                <span class="tender_highl">Сума закупiвлi вказана:</span>{{specific-tender.pdv}}
            </p>
        </div>
    </div>	

    <div class="tender_docs_wrapper">
        <div class="tender_docs_capture">
            <h2>
                Документация
            </h2>
        </div>
        <div class="tender_docs_body">
            <img src="{{root}}assets/img/docx.png" alt="word_icon" class="doc_icon">
            <a href="{{specific-tender.docs_link}}" target="_blank" class="tender_cod_link">											
                {{specific-tender.docs_name}}
            </a>
            <p>
                Тендерна документація 
            </p>
        </div>
    </div>

    <div class="help_btns hide-for-small-only">
        <a href="http://ua-tenders.com/rubrics/services/suppliers/">
            Заказать
            юридическое сопровождение тендера
        </a>
        044 581-28-16, 581-28-21.
    </div>

    <div class="help_btns bank_guarantee hide-for-small-only">
        <a href="http://ua-tenders.com/rubrics/guarantee/">
            Получить Банковскую гарантию за 2 дня
        </a>
        044 230-82-27, 425-28-47.
    </div>
    
    <div class="bonus_button hide-for-small-only">
        <button class="bonus_button-text" data-open="exampleModal1">
            Бонус 100% за платеж
        </button>
    </div>

    {{> bonus-modal}}

    <div class="tender_info_block">
        <h3 class="tender_blck_caption">
            Получение тендерной документации
        </h3>
        <div class="tender_info_wrapper ">
            <p>
                Адрес: <span class="tender_highl">
                    <a href="{{specific-tender.tender_docs_link}}" target="_blank">
                        {{specific-tender.tender_docs_link}}
                    </a>
                </span>
            </p>
        </div>
    </div>

    <div class="tender_info_block">
        <h3 class="tender_blck_caption">
            Условия подачи тендерных предложений
            о предмете закупки
        </h3>
        <div class="tender_info_wrapper ">
            <p>
                Условия: <span class="tender_highl">
                    <a href="{{specific-tender.ymovu_podachi_link}}" target="_blank">
                        {{specific-tender.ymovu_podachi_link}} 
                    </a>
                </span>
            </p>
            <p>
                Адрес заказчика
                <span class="tender_highl">
                    {{specific-tender.customer_addr}}
                </span>
            </p>
            <p>
                Конечный срок: 
                <span class="tender_highl">
                    {{specific-tender.end_date}}
                </span>
            </p>
        </div>
    </div>

    <div class="tender_info_block">
        <h3 class="tender_blck_caption">
                Проведение процедуры
        </h3>
        <div class="tender_info_wrapper ">
            <p>
                Дата
                <span class="tender_highl">
                    {{specific-tender.procedure_date}}
                </span>
            </p>
            <p>
                Адрес: 
                <span class="tender_highl">
                    <a href="{{specific-tender.procedure_link}}" target="_blank">
                        {{specific-tender.procedure_link}}
                    </a>
                </span>
            </p>
        </div>
    </div>

    <div class="tender_info_block">
        <h3 class="tender_blck_caption">
            Лицо, ответственное за проведение торгов
        </h3>
        <div class="tender_info_wrapper ">
            <p>
                Контактное лицо:
                <span class="tender_highl">
                    {{specific-tender.contact_name}}
                </span>
            </p>
            <p>
                Контактный телефон:
                <span class="tender_highl">
                    {{specific-tender.contact_phone}}
                </span>
            </p>
            <p>
                E-mail:
                <span class="tender_highl">
                    {{specific-tender.contact_email}}
                </span>
            </p>
        </div>
    </div>

</div>