//CALENDAR
.calendar_wrapper {
    background-color: #fdfaf4;
    padding: 10px 7px 10px 7px;
    margin: 0;
    border: 1px solid #F1EFE9;
    border-top: 0px;
    margin-bottom: 10px;
    color: #3B3B3B;
}