.attention_wrapper {
    background: #FBF7EE;
    border: 1px solid #E2DFD8;
    margin-left: 15px;
    margin-right: 25px;
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;

    @include breakpoint(small down) {
        margin-right: 15px;
    }

    img {
        float: left;
        margin-right: 5px;
    }


    p {
        color: $primary-color;
        font-family: Verdana, Arial, sans-serif;
        font-size: $font-size;
        margin-bottom: 0px!important;
    }


    h2 {
        margin-bottom: 0px;
        height: 50px;
    }

    p>a {
        font-size: $font-size;
        font-weight: 700;
        margin-bottom: 10px!important;
    }

    h2>a {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px!important;
        &:hover {
            text-decoration: underline;
        }
    }
}

.industry_table_wrapp {
    background: #FBF7EE;
    border: 1px solid #E2DFD8;
    margin-left: 15px;
    margin-right: 25px;
    margin-bottom: 10px;

    @include breakpoint(small down) {
        margin-right: 15px;
    }
    table {

        margin-bottom: 0px;

        tr {
            background: #FBF7EE;
        }

        tr:nth-child(even) {
            background-color: #FBF7EE
        }

        th {
            color: #615F60;
            background: #FBF7EE;
            padding: 5px;
            border-top: 1px solid #E2DFD8;
            border-left: 1px solid #E2DFD8;
            border-bottom: 1px solid #E2DFD8;
            font-family: Verdana, sans-serif;
            font-size: $font-size;
            text-align: left;
        }

        td {
            border-left: 1px solid #E2DFD8;
            border-bottom: 1px solid #E2DFD8;
            padding: 5px;
            text-align: center;
            font-family: Verdana, Arial, sans-serif;
            font-size: $font-size;
            color: $primary-color;
        }

        @include breakpoint(small down) {
            .archive_col {
                display: none;
            }

        }

        .industry_col {
            text-align: left;
        }
    }
}

.tenders_Ukraine-right {
    width: 240px!important;
    padding-right: 5px;
}

.tender_anons_wrapp {
    border: 1px solid #F0EFEB;
    font-size: $font-size;
    font-family: Verdana, Arial, sans-serif;
    background: #FEFBF6;

    .tender_anons_head {
        font-weight: 700;
        color: #666664;
        margin-top: 10px;
        background: #FCF9F2;
        padding: 5px;

        p {
            margin-bottom: 0px!important;
        }
    }

    .tender_anons_body {
        border: 1px solid #F0EFEB;
        border-top: 0px;
        padding: 10px 5px 20px 5px;

        .anons_link_wrp {
            padding: 3px 0px 3px 10px;
            margin-top: 0px;
            background: transparent url("../img/icons/top_news_item.gif") no-repeat 0 9px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

