//MOBILE_MENU
@include breakpoint(medium down) {
    .menu_line {
        height: 30px !important;
    }

    .off-canvas.position-left {
        background: #0592d7;
    }
    
    .mobile_menu {
        background-color: #0592d7;
    
        li {
            a {
                color: #ffffff;
                font-weight: 700;
                font-family: Arial,Verdana,sans-serif;
                border-bottom: 1px solid #534741;
                border-right: 1px solid #534741;
                padding-top: 14px;
                padding-bottom: 14px;
            }
        }
    
    }
}