//MOBILE_LOGIN
@include breakpoint(medium down) {
    #loginModal {
        background-color: #fce3a2;
        
        button {
            outline: none;
            font-size: 2.3em;
            padding-left: 10px;
            padding-right: 10px;
            right: 5px;
            top: 0px;
        }

        form {
            width: 85%;
            margin-top: 30px;
            @include horizontal-center;
        }

        label {
            color: #534741;
        }
        
        input[type="text"],
        input[type="password"]
        {
            &:focus {
                -webkit-box-shadow: inset 0 0 2px 1px #c4c4c4;
                        box-shadow: inset 0 0 2px 1px #c4c4c4;
            }
        }

        a {
            font-size: 16px;
            text-decoration: underline;
            color: #534741;
            position: relative;
            top: 21px;
            padding-top: 10px;
            padding-right: 5px;
            padding-left: 5px;
            padding-bottom: 10px;
        }

        input[type="submit"]
        {
            float: right;
            border: 1px solid #5D637B;
            color: #534741;
            background: #FDE183;
            font-size: 15px;

            &:hover {
                background: #ccb569;
                outline: none;
            }
        }

        .unregister_user_name {
            text-align: center;
            margin-top: 20px;
            font-weight: 600;
            font-family: Arial, Verdana, sans-serif;
            margin-bottom: 5px;
        }

        .unregister-row {
            a {
                position: static!important;
                display: block;
                margin-left: 20px;
            }
        }

        .unregister-input {
            input {
                margin-right: 18px;
                font-size: 20px!important;
                position: relative;
                bottom: 39px;
            }
        }
    }
}