//MOBILE_MENU
@include breakpoint(small down) {
    .menu_line {
        height: 30px !important;
    }
    
    .mobile_menu {
        background-color: #fce3a2;
    
        li {
            a {
                color: #534741;
                font-weight: 700;
                font-family: Arial,Verdana,sans-serif;
                border-bottom: 1px solid #534741;
                border-right: 1px solid #534741;
                padding-top: 14px;
                padding-bottom: 14px;
            }
        }
    
    }
}