
/* HEADER */
section.header {
    background: #161E6D;
    width: 100%;
}

header {
    width: 100%;
    height: 926px;
    position: relative;
}

header::before {
    background: url(img/header-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    mix-blend-mode: soft-light;
    opacity: 0.35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    content: "";
}

.header-wrapper {
    width: 100%;
    height: 926px;
    background-image: url(img/header-mask.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



/* NAVIGATION_MENU */
.nav-wrapper {
    max-width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-style: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 33px;
    border-bottom: 0.5px solid rgba(231, 235, 245, 0.35);
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav a {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    
}

nav a.logo {
    background-image: url(img/platon_logo.png);
    width: 110px;
    height: 28px;
    display: inline-block;
    margin-right: 27px;
    z-index: 10000;
    position: relative;
    bottom: 17px;
}

nav.left-nav a:not(.logo) {
    position: relative;
    top: 2px;
    margin-right: 18px;
    padding-bottom: 33px;
}

nav.left-nav a:not(.logo):hover {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.75;
} 

nav.left-nav a:not(.logo):focus, nav.left-nav a:not(.logo):active {
    color: #FFFFFF;
    opacity: 0.5;       
}

.phone {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 33px;
}

.sign-in {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffffff;
    position: relative;
    padding: 9px 19px;
    margin-left: 18px;
    bottom: 18px;
}

.sign-in::before {
    border: 0.5px solid #FEFEFE;
    padding: 8px 19px;
    border-radius: 4px;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    content: "";
}

.sign-in:hover::before {
    border: 0.5px solid #FEFEFE;
    opacity: 1;
}

.sign-in:focus::before, .sign-in:active::before  {
    border: 0.5px solid #FEFEFE;
    opacity: 0.75;
}

.sign-in:hover, .sign-in:focus {
    color: #FEFEFE;
    text-decoration: none;
} 



/* HEADER_MOTO_SECTION */
.header-moto-wrapper {
    max-width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    font-family: 'Open Sans', sans-serif!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.moto-heading {
    text-align: center;
    font-weight: 400!important;
    font-family: 'Open Sans', sans-serif;
    line-height: 78px;
    font-size: 50px;
    color: #FDFDFD;
    font-style: normal;
    margin-bottom: 11px;
}

.moto {
    line-height: 36px;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    max-width: 868px;
    margin-bottom: 33px;
}

.join-link {
    background: linear-gradient(259.9deg, #FF8532 -3.83%, #E1531A 116.47%);
    border-radius: 4px;
    padding: 16px 30px;
    color: #ffffff;
    width: 168px;
    z-index: 1000;
    font-weight: 800;
}

.join-link:hover {
    cursor: pointer;
    background: linear-gradient(259.9deg, #DA4816 -3.83%, #FF8532 116.47%);
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
}

.join-link:focus {
    background: linear-gradient(259.9deg, #E34C19 -3.83%, #FF9954 116.47%);
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
}

.partners-banks {
    max-width: 951px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    opacity: 0.5;
}

.img-example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 34px;
}

.img-example-desktop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.img-example-desktop .desktop_img {
    max-width: 954px; 
    border-radius: 10px;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 8px 100px #24262b26;
            box-shadow: 0px 8px 100px rgba(36, 38, 43, 0.149);
}

.mobile_img {
    position: absolute;
    bottom: -59px;
    right: -86px;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 8px 100px #24262b26;
            box-shadow: 0px 8px 100px rgba(36, 38, 43, 0.149);
    border-radius: 39px;
}

.bg-thing-1 {
    position: absolute;
    left: -93px;
    bottom: 96px;
    position: absolute;
}

.bg-thing-2 {
    position: absolute;
    left: -94px;
    bottom: -63px;
    position: absolute;
}

.bg-thing-3 {
    position: absolute;
    left: 314px;
    bottom: -63px;
    position: absolute;
    z-index: -1;
}

.bg-thing-4 {
    position: absolute;
    right: 201px;
    bottom: -59px;
    position: absolute;
}

main {
    overflow: hidden;
}


/* TARRIFS */
.tariffs {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 427px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;        
}

.tariffs_heading {
    font-style: normal;
    font-weight: normal;
    line-height: 51px;
    font-size: 33px;
    margin-bottom: 15px;
}

.tarrifs_text {
    text-align: center;
    line-height: 33px;
    font-size: 18px;
    font-weight: 400;
    max-width: 744px;
}

.tarrifs_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 126px;
    border-bottom: 1px solid #E7EBF5;
}

.tariff-item {
    width: 272px;
    height: 261px;
    background: #FFFFFF;
    border: 1px solid #E7EBF5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    mix-blend-mode: multiply;
    -webkit-box-shadow: 0px 0px 50px #E7EBF5;
            box-shadow: 0px 0px 50px #E7EBF5;
    margin-left: 18px;
    margin-top: 56px;
    position: relative;
}

.tariff-item:first-child {
    margin-left: 0px!important;
}

.plus-sign, .equal-sign {
    position: absolute;
    top: 45px;
    right: -35px;
    z-index: 1;
}

.tariff-proc {
    text-align: center;
    line-height: 51px;
    font-size: 60px;
    margin-top: 37px;
}

.proc-1 {
    background: -webkit-linear-gradient(#5DA9FF, #2E4AE5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proc-2 {
    background: -webkit-linear-gradient(#3ECCCE, #1DB8AB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proc-3 {
    background: -webkit-linear-gradient(#DA4816, #FF6800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proc-4 {
    background: -webkit-linear-gradient(#483BAA, #7B75ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    line-height: 51px;
    font-size: 60px;
}

.tariff-text {
    text-align: center;
    margin-top: 35px;
    padding-top: 26px;
    border-top: 1px solid #E7EBF5;
    line-height: 27px;
    font-size: 15px;
}


.tariff-item:last-child .tariff-text {
    line-height: 33px;
    font-size: 18px;    
}


/* INTERNET_ENQ */
.internet-enq {
    margin-top: 112px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.internet-enq-heading {
    color: #333333;
    font-style: normal;
    font-weight: normal;
    line-height: 51px;
    font-size: 33px;
    font-style: normal;
    font-weight: normal;
}

.internet-enq-text {
    font-style: normal;
    font-weight: normal;
    line-height: 33px;
    font-size: 18px;
    margin-top: 14px;
}

.internet-enq-items-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1142px;
    padding-top: 62px;
    padding-bottom: 64px;
    border-bottom: 1px solid #E7EBF5;
}

.internet-enq-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Open Sans', sans-serif;
            flex: 0 1 33.3%;  
    margin-bottom: 69px;
}

.internet-enq-item p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    font-size: 15px;
    margin-top: 5px;
    width: 350px;
}

.one-click-paragraph {
    margin-top: 7px!important;
}

.one-click-image {
    position: relative;
    top: 7px;
    left: 15px;
}

.payment-register-paragraph {
    width: 321px!important;
    margin-top: 7px!important;
}

.internet-enq-item h4 {
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    font-size: 18px;
    margin-top: 27px;
}

.internet-enq-item:last-child h4 {
    margin-top: 19px!important;
}


/* PAYMENT_INTEGRATION */
.payment-integration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1142px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.payment-integration-left-block {
    margin-top: 118px;
}

.payment-integration-left-block h2 {
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    font-size: 33px;
    margin-bottom: 20px;
    width: 467px;
}

.payment-integration-left-block p {
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    font-size: 18px;
    margin-bottom: 0px!important;
    width: 450px;
}

.payment-integration-left-block-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 34px;
}

.payment-integration-left-block-images img {
    margin-left: 18px;
}

.payment-integration-left-block-images img:first-child {
    margin-left: 0;
}

.payment-integration-variants {
    margin-top: 122px;
    position: relative;
}

.payment-integration-variants a:hover {
    text-decoration: none;
}

.payment-integration-item {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 50px #E7EBF5;
            box-shadow: 0px 8px 50px #E7EBF5;
    border-radius: 18px;
    width: 618px;
    height: 114px;  
    padding-top: 27px;
    padding-left: 35px;
    padding-right: 40px;
    margin-bottom: 18px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Open Sans', sans-serif;
}

.payment-integration-item:hover {
    -webkit-box-shadow: 0px 8px 100px #E7EBF5;
            box-shadow: 0px 8px 100px #E7EBF5;
    cursor: pointer;
}

.payment-integration-item:hover .payment-arrow {
    background: url('img/payment_integration_icons/arrow_icon_hover.png');
}

.payment-integration-item a:hover, 
.payment-integration-item a:focus,
.payment-integration-item a:active {
    text-decoration: none;
    color: #1A1F4A;
}

.payment_integration_item_name {
    display: inline;
    line-height: 33px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #1A1F4A;
    margin-left: 14px;
}

.payment-arrow {
    float: right;
    margin-top: 18px;
    height: 28px;
    width: 33px;
    background: url('img/payment_integration_icons/arrow_icon.png');
}

.payment-bg-img-1 {
    position: absolute;
    left: 11px;
    top: -52px;
}


.payment-bg-img-2 {
    position: absolute;
    left: 315px;
    top: -48px;
}

.payment-bg-img-2 {
    position: absolute;
    left: 315px;
    top: -48px;
}

.payment-bg-img-3 {
    position: absolute;
    right: 15px;
    top: -60px;
}

.payment-bg-img-4 {
    position: absolute;
    right: 77px;
    bottom: -47px;
    z-index: -1;
}

.payment-bg-img-5 {
    position: absolute;
    left: 274px;
    bottom: -25px;
    z-index: -1;
}

.payment-bg-img-6 {
    position: absolute;
    left: 6px;
    bottom: -37px;
    z-index: -1;
}




/* BANK_GARANT */
.bank-garant {
    background: #EFF3FF;
    -webkit-transform: rotate(2.77deg);
            transform: rotate(2.77deg); 
    margin-top: 117px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    height: 473px;
    width:110%;
    top:-5%;
    left:-5%;
    position: relative;
}

.bank-garant-wrapp {
    max-width: 1394px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: rotate(-2.77deg);
            transform: rotate(-2.77deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.bank-garant-banks {
    margin-left: 96px;
}

.bank-garant-col-1, .bank-garant-col-2 {
    position: relative;
    display: inline-block;
}

.bank-garant-col-2 {
    position: relative;
    top: 30px;
    margin-left: 20px;
}

.bank-garant-item {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 18px #E7EBF5;
            box-shadow: 0px 8px 18px #E7EBF5;
    border-radius: 10px;
    width: 283.96px;
    height: 153px;
    margin-top: 28px;
}

.bank-garant-item p {
    text-align: center;
    line-height: 33px;
    font-size: 10px;
    letter-spacing: 0.05em;
    color: #D8DCE8;
    margin-bottom: 0;
}

.alfa_bank-item {
    margin-top: 28px;
}

.privatbank-item {
    margin-top: 25px;
}

.alfa_bank-img {
    margin: 14px 62px 48px 59px;
}

.privatbank-img {
    margin: 21px 62px 48px 51px;
}

.rayfayzen-img {
    margin-top: 0;
    position: relative;
    bottom: 12px;
    margin-left: 43px;
}

.oschad_bank-img {
    margin-top: 10px!important;
    margin-left: 69px;
}

.item-empt {
    border: 1.5px solid #E7EBF4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    max-width: 283.96px;
    height: 153px;
    background: transparent!important;
    -webkit-box-shadow: unset!important;
            box-shadow: unset!important;
}

.item-empt-1 {
    position: absolute;
    top: -178px;
}

.bank-garant-info {
    margin-top: 93px;
        -ms-flex-preferred-size: 590px;
            flex-basis: 590px;
}

.bank-garant-info h2 {
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    font-size: 33px;
    color: #333333;
    margin-bottom: 22px;
    max-width: 466px;
}

.bank-garant-info p {
    font-style: normal;
    font-weight: normal;
    line-height: 33px;
    font-size: 18px;
    color: #4F4F4F;
    max-width: 466px;
}


/* SECUTIRY_SYSTEM */
.security-system {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1156px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 104px;  
    margin-left:  auto;
    margin-right: auto;   
    font-family: 'Open Sans', sans-serif;  
}

.security-system-info {
    margin-top: 77px;
    margin-left: 8px;
}

.security-system-info h2 {
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    font-size: 33px;
    color: #333333;
    margin-bottom: 22px;
}

.security-system-info p {
    font-style: normal;
    font-weight: normal;
    line-height: 33px;
    font-size: 18px;
    color: #4F4F4F;
}

.security-items-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
    max-width: 1142px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 120px;
    border-bottom: 1px solid #E7EBF5;
}

.security-item-3 {
    -ms-flex-preferred-size: 370px;
        flex-basis: 370px;
}

.security-item:first-child p {
    max-width: 320px;
}

.security-item h4 {
    font-weight: 600;
    line-height: 27px;
    font-size: 19px;
    font-style: normal;
    margin-top: 16px;
    margin-bottom: 13px;
}

.security-item p {
    line-height: 27px;
    font-size: 15px;
    color: #4F4F4F;
    margin-bottom: 0px;
    max-width: 340px;
}

.security-item img {
    position: relative;
    bottom: 2px;
}




/* OUR_CLIENTS */
.our-clients {
    margin-top: 120px;
    max-width: 1142px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Open Sans', sans-serif;  
}

.our-clients h2 {
    font-style: normal;
    font-weight: normal;
    line-height: 51px;
    font-size: 33px;
    color: #333333;
    margin-bottom: 54px;
}

.our-clients-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 124px;
    border-bottom: 1px solid #E7EBF5;
}

.our-clients-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 180px;
    width: 227px;
    border-bottom: 1px solid #E7EBF5;;
    border-left: 1px solid #E7EBF5;;
}

.our-clients-item:first-child, .our-clients-item:nth-child(6) {
    border-left: none;
}

.our-clients-item:nth-child(n+6) {
    border-bottom: none;
}

.our-clients-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.our-clients-planet-kino img, .our-clients-cinema-citi img  {
    position: relative;
    bottom: 6px;
}

.our-clients-skarb img {
    position: relative;
    bottom: 11px;
}

.our-clients-kasa img {
    position: relative;
    bottom: 6px;
}

.our-clients-bitrix img {
    position: relative;
    bottom: 16px;
}

.our-clients-rabota img {
    position: relative;
    bottom: 6px;
}


/* NEWS_AND_ATRICLES */
.news {
    max-width: 1142px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;  
}

.news-caption-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 115px;
    margin-bottom: 37px;
}

.news-caption-block h2 {
    font-style: normal;
    font-weight: normal;
    line-height: 51px;
    font-size: 33px;
    color: #333333;
}

.news-caption-block a {
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 14px;
    color: #FD8130;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 9px 18px;
    height: 38px;
    margin-top: 12px;
    position: relative;
}

.news-caption-block a::before {
    border: 0.5px solid #FD8130;
    opacity: 0.25;
    border-radius: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    content: "";
}

.news-caption-block a:hover {
    text-decoration: none;
    color: #DD4C17;
}

.news-caption-block a:hover::before {
    text-decoration: none;
    border: 0.5px solid #DC4B17;
    border-radius: 4px;
    opacity: 1;
}

.news-caption-block a:focus, .news-caption-block a:active {
    color: #B3431B;
}

.news-caption-block a:focus::before, .news-caption-block a:active::before {
    border: 0.5px solid #B2431B;
    border-radius: 4px;
    opacity: 1;
}

.news-caption-block a::after {
    opacity: 0.25;
    border: 0.5px solid #FD8130;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 173px;
}

.news-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 173px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.news-wrapper a {
    display: block;
    margin-right: 19px;
}

.news-wrapper a:last-child {
    margin-right: 0;
}

.news-wrapper a:hover, .news-wrapper a:focus, .news-wrapper a:active {
    text-decoration: none;
}

.news-item {
    display: -webkit-box;
    padding-bottom: 16px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 19px;
    border: 1px solid #E7EBF5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
}

.news-item:hover {
    -webkit-box-shadow: 0px 0px 50px #E7EBF5;
            box-shadow: 0px 0px 50px #E7EBF5;
}

.news-item:last-child {
    margin-right: 0px!important;
}

.news-item img {
    max-width: 366px;
    height: 242px;
}

.news-item h5 {
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    font-size: 18px;
    color: #333333;
    margin-top: 18px;
    margin-bottom: 0px;
}

.news-item p {
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    font-size: 15px;
    color: #4F4F4F;
    margin-top: 8px;
}

.news-item h5, .news-item p {
    margin-left: 25px;
    margin-right: 39px;
}



/* FOOTER */
.footer {
    font-family: 'Open Sans', sans-serif; 
    background: #191C39;
    color: #FFFFFF;
    padding-top: 89px;
}

.footer h2 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    font-size: 36px;
    margin-bottom: 55px;
}

.footer-items-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1166px;
    font-family: 'Open Sans', sans-serif; 
}

.footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-item img {
    margin-bottom: 19px;
}

.footer-item h5 {
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    font-size: 18px;
    margin-bottom: 12px;
}

.footer-item p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    font-size: 15px;
}

.join-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1142px;
    padding-bottom: 108px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
}

.join-btn {    
    background: linear-gradient(259.9deg, #FF8532 -3.83%, #E1531A 116.47%);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    padding: 15px 36px;
    color: #FFFFFF;
    margin-top: 21px;
}

.join-btn:hover {
    background: linear-gradient(259.9deg, #DA4816 -3.83%, #FF8532 116.47%);
    color: #FFFFFF;
    text-decoration: none;
}

.join-btn:focus, .join-btn:active {
    background: linear-gradient(259.9deg, #E34C19 -3.83%, #FF9954 116.47%); 
    color: #FFFFFF;
    text-decoration: none;
}

.footer-bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: 1142px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 86px;
    padding-bottom: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-logo {
    background-image: url('img/footer-logo.png');
    width: 118px;
    height: 30px;
    display: inline-block;
    position: relative;
    bottom: 2px;
}


.footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.footer-menu p {
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-bottom: 16px;
}

.footer-menu a {
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 15px;
    color: #6E7082;
    margin-bottom: 18px;
}

.footer-menu a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-menu a:focus, .footer-menu a:active {
    color: rgba(140, 141, 156, 0.45);
    text-decoration: none;
}

.footer-languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 46px;
}

.rus, .ukr {
    display: inline-block;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
}

.rus {
    padding: 7px 18px 9px 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    left: 6px;
}

.rus::before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    content: "";
    padding: 7px 18px 9px 18px;
    border: 0.5px solid #FEFEFE;
    border-radius: 4px 0px 0px 4px;
}

.rus:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.rus:hover::before {
    background: rgba(255, 255, 255, 0.15);
    opacity: 0.5;
    border: 0.5px solid #FEFEFE;
}

.ukr {
    padding: 7px 18px 9px 18px;
    background: transparent;
    position: relative;
}

.ukr::before {
    border: 0.5px solid #FEFEFE;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    content: "";
    padding: 7px 18px 9px 18px;
}

.ukr:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.ukr:hover::before {
    border: 0.5px solid #FEFEFE;
    opacity: 1;
}

.ukr:focus, .ukr:active {
    color: #C5C5CD;
    text-decoration: none;
}

.ukr:focus::before, .ukr:active::before {
    border: 0.5px solid #C5C5CD;
    outline: none;
}

.facebook-icon {
    background-image: url('img/footer/facebook.png');
    height: 37px;
    width: 37px;
    display: block;
    margin-bottom: 23px;
}

.facebook-icon:hover {
    background-image: url('img/footer/facebook-hover.png');
}

.facebook-icon:focus, .facebook-icon:active {
    background-image: url('img/footer/facebook-focus.png');
}


/* DESCTOP STYLES */
@media only screen and (max-width: 1200px) {
/* HEADER */

.nav-wrapper {
    max-width: 961px;
}

.sign-in {
    padding: 9px 22px;
    bottom: 16px;
}

.mobile_img {
    right: 0px;
}

.bg-thing-1 {
    display: none;
}

.bg-thing-2 {
    display: none;
}

.bg-thing-3 {
    left: 408px;
}

.bg-thing-4 {
    z-index: -1;
}


/* TARRIFS */

.tariffs {
    margin-top: 440px;
}

.tariff-item {
    width: 227px;
}

/* INTERNET_ENQ */
.internet-enq-items-wrapper {
    max-width: 997px;
}

.internet-enq-item:nth-child(6) h4 {
    margin-top: 19px;
}

/* PAYMENT_INTEGRATION */
.payment-integration {
    max-width: 959px;
}

.payment-integration-left-block {
    margin-top: 127px;
    margin-left: 9px;
}

.payment-integration-item {
    width: 526px;
    padding-top: 22px;
    padding-left: 38px;
    padding-right: 32px;
}

.payment-integration-left-block-images {
    display: none;
}

.payment-integration-variants {
    margin-top: 115px;
}

.payment-bg-img-1 {
    left: 3px;
    top: -23px;
    z-index: -1;
}

.payment-bg-img-2 {
    left: 279px;
    top: -20px;
    z-index: -1;
}

.payment-bg-img-3 {
    right: -7px;
    top: -31px;
    z-index: -1;
}

.payment-bg-img-4 {
    right: 40px;
    bottom: -17px;
}

.payment-bg-img-5 {
    left: 243px;
    bottom: 0px;
}

.payment-bg-img-6 {
    bottom: -8px;
}


/* BANK_GARANT */
.bank-garant {
    margin-top: 109px;
    height: 553px;
}

.bank-garant-banks {
    margin-left: 48px!important;
}

.bank-garant-item {
    width: 234px;
}

.bank-garant-wrapp {
    max-width: 1045px;
}

.bank-garant-info br {
    display: none;
}

.bank-garant-info {
    -ms-flex-preferred-size: 310px;
        flex-basis: 310px;
    margin-right: 115px;
    margin-top: 75px;
}

.bank-garant-info h2 {
    margin-bottom: 18px;
}

.item-empt-1 {
    top: -132px;
}

.alfa_bank-item {
    margin-top: 73px;
}

.alfa_bank-img {
    margin-top: 21px;
    margin-left: 54px;
}

.bank-garant-item p {
    font-weight: 800;
}

.privatbank-img {
    margin-top: 25px;
    margin-left: 43px;
}

.item-empt-2 {
    top: -178px;
}

.rayfayzen-img {
    bottom: -5px;
}

.oschad_bank-img {
    margin-top: 7px!important;
    margin-left: 48px;
}



/* SECUTIRY_SYSTEM */ 
.security-system-info {
    margin-top: -3px;
    margin-left: 32px;
}

.security-system-info h2 {
    margin-bottom: 17px;
}

.security-system {
    max-width: 1010px;
}

.security-system-img img {
    width: 613px;
    position: relative;
    bottom: 17px;
}

.security-items-wrapp {
    margin-top: 18px;
    max-width: 945px;
}

.security-item-3 {
    -ms-flex-preferred-size: 288px;
        flex-basis: 288px;
}

.security-item-3 h4 {
    margin-top: 13px;
}

.security-items-wrapp {
    padding-bottom: 145px;
}


/* OUR_CLIENTS */
.our-clients {
    margin-top: 68px;
    max-width: 935px;
}

.our-clients-skarb img {
    position: relative;
    bottom: 8px;
    right: 10px;
}

.our-clients-wrapper {
    padding-bottom: 116px;
}

/* NEWS AND ARTICLES */

.news {
    max-width: 940px;
}

.news-caption-block h2 {
    margin-left: 11px;
}

.news-wrapper {
    left: 9px;
    position: relative;
    margin-bottom: 166px;
}

.news-item {
    padding-bottom: 0;
}

.news-item img {
    max-width: 300px;
    height: 241px;
}

.news-caption-block {
    margin-top: 121px;
}

.news-item br {
    display: none;
}

.news-item h5, .news-item p {
    margin-left: 27px;
    margin-right: 39px;
}

.news-item h5 {
    margin-top: 20px;
}


/* FOOTER */
.footer-item img {
    margin-bottom: 21px;
}

.footer-item h5 {
    margin-bottom: 13px;
}

.footer-item p {
    width: 260px;
}

.footer-item p:nth-child(3) {
    width: 248px;
}

.footer-items-wrapper {
    max-width: 920px;
}

.join-btn {
    margin-top: 15px;
}

.join-wrapper {
    max-width: 950px;
    padding-bottom: 86px;
}

.footer-bottom {
    max-width: 977px;
}

.footer-logo {
    left: 18px;
}

.footer-languages {
    margin-left: 0;
}

.languages-item {
    position: relative;
    bottom: 6px;
}

.rus, .rus::before, .ukr, .ukr::before {
    padding-bottom: 11px;
    padding-top: 9px;
}

}


/* IE FIX */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .img-example-desktop {
        margin-left: 0px;
    }

    .plus-sign, .equal-sign {
        z-index: 1;
    }

    .desktop_img, .mobile_img {
        -webkit-box-shadow: 0px 8px 100px hsla(223, 9%, 15%, 0.149);
                box-shadow: 0px 8px 100px hsla(223, 9%, 15%, 0.149);
    }

    .internet-enq-items-wrapper {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .internet-enq-item {
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
    }

    .our-clients-item {
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
    }

    .news-item img {
        width: 100%;
    }

    .news-item:last-child p {
        width: 300px;
    }
    
    .footer-item {
        display: block;
    }

    .footer-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-item h5 {
        text-align: center;
    }

    .footer-item p {
        text-align: center;
    }

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1200px) {
    .rayfayzen-img {
        bottom: 8px;
        margin-left: 18px;
    }

    .alfa_bank-img .privatbank-img, .oschad_bank-img {
        margin-left: 35px;
    }

    .our-clients-item {
        width: 187px;
    }

    .news-item h5 {
        width: 234px;
    }

    .news-item:last-child p {
        width: 234px;
    }
}
