{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<meta name="description" content="{{description}}">
	<meta name="keywords" content="{{keywords}}">

	<link rel="SHORTCUT ICON" href="{{root}}assets/img/icons/favicon.ico">
	<script type="text/javascript">
		function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
		loadCSS( "{{root}}assets/css/app.css" );
	</script>
	<noscript>
		<link rel="stylesheet" href="{{root}}assets/css/app.css">
	</noscript>
	<link rel="manifest" href="manifest.json">
	<script async src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
</head>

<body>
	<script>
		;(function() {
            // Initialize
            var bLazy = new Blazy({
				success: function(e){
					console.log("loaded");
				}
			});
        })();		
	</script>
		
		<div class="off-canvas-content" data-off-canvas-content>
			{{> body}}
			{{> footer}}
			{{> search-modal}}
		</div>
		{{> mobile-menu}}
		{{> mobile-login}}
		
	<script async src="{{root}}assets/js/app.js"></script>
</body>

</html>