//TABLET MENU LINE
@media screen and (max-width: 1023px) and (min-width: 934px){
    .menu_line  {
        ul.menu_list {
            li {
                #two-lined {
                    padding-top: 7px!important;
                    padding-bottom: 7px!important;
                }
            }
        }

    }
}

@media screen and (max-width: 1190px) and (min-width: 1024px){
    .menu_line  {
        height: 34px!important;
        ul.menu_list {
            justify-content: baseline;
            li.two-line-list {
                flex-basis: 10%;
            }
            li {
                a:not(.two-line) {
                    padding-top: 7px!important;
                    padding-bottom: 7px!important;
                }
                a {
                    position: relative;
                    bottom: 2px;
                }
            }
            
        }
    .search_wrapp {
        width: 39%;
    }
    }
    .search_bar input {
        width: 70%!important;
    }

    .search_bar .search_icon {
        margin-top: 6px!important;
    }

    .favourite_wrapper .faw_mail_btns {
        top: 3px!important;
        left: 0px!important;
    }

    .banner_line .my_page_info {
        width: 22%!important;
    }

    #context-menu .tb-selector select {
        font-size: 12px!important;
    }

    .filter_block .filter_wrapper .second_col .register_announcement {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }

    .filter_block .filter_wrapper .filter_input span {
        margin-left: 0!important;
    }
    .search_wrapp {
        margin-left: 10px;
    }
}

@include breakpoint(medium only) {
    .menu_line  {
        height: 34px!important;

        .menu_div {
            padding-left: 0px!important;
        }

        .mobile-buttons a {
            margin-right: 10px;
        }
        li {
            padding-top: 0!important;

            a { 
                padding-top: 7px!important;
                padding-bottom: 7px!important;
                padding-right: 3px!important;
                padding-left: 3px!important;

                &:hover {
                    background-color: #f3af088c!important;
                }
            }

            a {
                position: relative;
                top: 2px;
            }

            a.two-line {
                padding-top: 0px!important;
                padding-bottom: 0px!important;
            }
        }


        li:last-child {
            a {
                border-right: 1px solid #534741!important;
            }
        }

        .navbar-new--search {
            padding-left: 0px!important;
            position: relative;
        }


        .login_icon {
            padding-left: 3px!important;
            padding-right: 3px!important;
            margin-right: 10px;
        }


    }

    .modal_bonus {
        width: 80%!important;
    }
}

@media screen and (max-width: 933px){
    ul.menu_list {
        li.two-line-list {
            flex-basis: 10%;
        }
    }
}






