
<!-- BANNER_LINE_OPEN -->
<div class="banner_line">
    <div class="logo_banner">
        <img src="../assets/img/logo_item.gif" alt="logo-item" class="logo-item">
    </div>

    <div class="hide-for-small-only banner-2 ">
        <a href="http://googleads.g.doubleclick.net/pcs/click?xai=AKAOjstXtZFhWXhNbu7VzY9luptH9h6zZ69glbCvYXyAMOcxc0Qik-HBgPh4DOjQ6MmQQU9gl6IoJhfiPAIsP1UJBkUwbW19keWah92toJivgqsMQqwFDTN3335vObo5li4LC-tBw7Eostwfl9vrrOiCaa7Vx48uG_ai-R3jCXGAp0cL1nP5-G8ZP4euVHpLQzz-CJdPeVa31K-lpA7cg3mQz-VlotnGVLbRqcH_Q0AQK0pBJBS8xRA&sig=Cg0ArKJSzPeDO_kxZm43&adurl=http://www.ua-tenders.com/rubrics/guarantee/&nm=13"
        target="_blank">
            <img src="{{root}}/assets/img/banner-1.gif" class="banner-2" alt="alt=" Банковская гарантия "">
        </a>
    </div>

    <div class="banner-3 hide-for-small-only">
        <a href="http://www.ua-tenders.com/rubrics/services/price/" target="_parent">
            <img src="{{root}}/assets/img/17.gif" class="banner-3">
        </a>
    </div>

    <div class="hide-for-small-only banner-4">
        <a href="http://www.ua-tenders.com/rubrics/learning/" target="_parent">
            <img src="{{root}}/assets/img/19.gif" class="banner-4">
        </a>
    </div>

    <div class="my_page_info hide-for-small-only">
        <p class="user_name">
            Яковенко Олександр
        </p>
        <p class="my_page_links">
            <a href="http://www.ua-tenders.com/profile/">
                <strong>Моя страница</strong>
            </a>
            <br>
            <a href="http://www.ua-tenders.com/profile/access/">
                <strong>Заказать доступ</strong>
            </a>
        </p>
        <input class="logout_butt" type="submit" onclick="location.href='/?logout';" value="Выход">
    </div>
</div>
<!-- BANNER_LINE_CLOSE -->
