<div>
    <ul class="breadcrumbs ">
        {{#ifpage 'index'}}
            {{#each breadcrumbs.tender-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}
        {{#ifpage 'industry'}}
            {{#each breadcrumbs.tender-industry-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}
        {{#ifpage 'news'}}
            {{#each breadcrumbs.news-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}
        {{#ifpage 'specific-news'}}
            {{#each breadcrumbs.specific-news-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}
        {{#ifpage 'legislation'}}
            {{#each breadcrumbs.legislation-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}
    </ul>
</div>