<div>
    <ul class="breadcrumbs ">
        {{#ifpage 'index'}}
            {{#each breadcrumbs.tender-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}


        {{#ifpage 'industry' 'tenders_Ukraine'}}
            {{#each breadcrumbs.tender-industry-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}


        {{#ifpage 'news'}}
            {{#each breadcrumbs.news-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}


        {{#ifpage 'specific-news'}}
            {{#each breadcrumbs.specific-news-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}


        {{#ifpage 'legislation'}}
            {{#each breadcrumbs.legislation-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}

        {{#ifpage 'legislation_laws' 'specific_law'}}
            {{#each breadcrumbs.legislation-laws-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}

        {{#ifpage 'materials' 'specific_material'}}
            {{#each breadcrumbs.materials-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}

        {{#ifpage 'faq' 'specific_question'}}
            {{#each breadcrumbs.faq-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}

        {{#ifpage 'suppliers'}}
            {{#each breadcrumbs.suppliers-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}

        {{#ifpage 'customers'}}
            {{#each breadcrumbs.customers-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}

        {{#ifpage 'specific-supplier'}}
            {{#each breadcrumbs.specific-supplier-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}

        {{#ifpage 'specific-customer'}}
            {{#each breadcrumbs.specific-customer-breadcrumbs}}
            <li>
                <a href="{{link}}">
                    {{text}}
                </a>
            </li>
            {{/each}}
        {{/ifpage}}
    </ul>
</div>