
<!-- MENU_OPEN -->
<div class="menu_line ">
    <div class="menu_div">
        <a class="mobile-menu-icon float-left show-for-small-only" data-toggle="offCanvas" aria-expanded="false" aria-controls="offCanvas">
            Open Menu
        </a>
        <a  class="login_icon show-for-small-only" data-toggle="loginModal" aria-expanded="false" aria-controls="offCanvas">
            <img src="assets/img/icons/login.png" alt="login">
        </a>
        <a href="#searchModal" class="navbar-new__item navbar-new--search navbar-toggle collapsed show-for-small-only" data-toggle="searchModal">
            <img src="assets/img/icons/search-icon-small.png">
        </a>
        <ul class="menu_list hide-for-small-only flex-container">
            <li>
                <a class="first flex-child-shrink" href="http://www.ua-tenders.com/">Главная</a>
            </li>
            <li>
                <a class="flex-child-shrink" href="http://www.ua-tenders.com/rubrics/services/expresstender/">Заказчикам</a>
            </li>
            <li>
                <a class="flex-child-shrink" href="http://www.ua-tenders.com/rubrics/services/tenders/">Поставщикам</a>
            </li>
            <li>
                <a class="flex-child-shrink" href="http://www.ua-tenders.com/rubrics/guarantee/">Банковская гарантия</a>
            </li>
            <li>
                <a class="flex-child-shrink" href="http://www.ua-tenders.com/rubrics/garantiya_turfirmam/">Гарантия турфирмам</a>
            </li>
            <li>
                <a class="flex-child-shrink" href="http://www.ua-tenders.com/rubrics/learning/">Семинары</a>
            </li>
            <li>
                <a class="flex-child-shrink" href="http://www.ua-tenders.com/rubrics/inquiry/">Справки</a>
            </li>
            <li>
                <a class="flex-child-shrink" href="http://www.ua-tenders.com/rubrics/complaint/">Жалобы</a>
            </li>
            <li>
                <a class="flex-child-shrink" href="http://www.ua-tenders.com/rubrics/audit/">Проверки-Аудит</a>
            </li>
            <li>
                <a class="flex-child-shrink" href="http://www.ua-tenders.com/rubrics/examination/">Экспертиза</a>
            </li>
        </ul>
    </div>
    <div class="hide-for-small-only search_wrapp flex-container">
        <div class="search_bar flex-child-grow">
            <div class="search_icon">
                <div class="search_icon_tr">l</div>
                <input type="text" name="text" value="">
                <a onclick="window.document.searchform.submit();" class="reg-enter">Найти</a>
            </div>
        </div>
        <div class="favourite_wrapper flex-child-grow">
            <div id="icon" class="faw_mail_btns" nowrap="nowrap" style="vertical-align:middle">
                <a href="javascript:addtofav();">
                    <img src="http://www.ua-tenders.com/images/favorites.gif" width="14" height="14" border="0" alt="Добавить в избранное">
                </a>
                &nbsp;|&nbsp;
                <a href="mailto:support@ua-tenders.com">
                    <img src="http://www.ua-tenders.com/images/contact.gif" width="14" height="14" border="0" alt="Контакт">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- MENU_CLOSE -->
