
<div class="large-6 cell statistics">
    <div class="stat_outer_line">
        <div class="stat_inner_line">
            <div class="statistics_wrapper">
                <strong>Статистика:</strong> &nbsp;
                <a href="http://www.ua-tenders.com/tender/">Тендеров: 1244420</a> &nbsp; | &nbsp;
                <a href="http://www.ua-tenders.com/customers/">Заказчиков: 62204</a> &nbsp; | &nbsp;
                <a href="http://www.ua-tenders.com/suppliers/">Поставщиков: 105629</a>
                <a href="#" alt="attention" class="attention_banner"></a>
            </div>
        </div>
    </div>
</div>
