
<!-- HEADER_TOP_LINE_OPEN -->
<div class="grid-x align-justify header_top_line ">
    <div class="large-5 cell ">
        <ul class="breadcrumbs">
            {{#each breadcrumbs.tender-industry-breadcrumbs}}
            <li>
                <a href="{{link}}">{{text}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="large-6 cell statistics">
        <div class="stat_outer_line">
            <div class="stat_inner_line">
                <div class="statistics_wrapper">
                    <strong>Статистика:</strong> &nbsp;
                    <a href="http://www.ua-tenders.com/tender/">Тендеров: 1244420</a> &nbsp; | &nbsp;
                    <a href="http://www.ua-tenders.com/customers/">Заказчиков: 62204</a> &nbsp; | &nbsp;
                    <a href="http://www.ua-tenders.com/suppliers/">Поставщиков: 105629</a>
                    <a href="#" alt="attention" class="attention_banner"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HEADER_TOP_LINE_CLOSE -->
