//MOBILE_MAIN_PAGE
@include breakpoint(small down) {
    //MOBILE CATALOG
    .main_tender_catalog {
        padding-top: 5px;
        padding-left: 5px!important;
    }
    .tender_catalog_wrapp {
        flex-direction: column;
        padding-right: 5px!important;

        li {
            border-bottom: 1px solid #E5F1FD;
        }
    }
    
    .second_catalog_column {
        margin-left: 0!important;
    }

    .catalog_items_wrapp {
        width: 87%;
    }

    //MOBILE CONTENT MENU
    .main_page_catalog_menu {
        display: flex;
        justify-content: center;

        ul {
            border: none;
            display: unset!important;
            padding-left: unset!important;
        }
        li {
            width: unset;
            height: unset;
            a {
                margin-top: 0!important;
                margin-bottom: 5px;
            }
        }
    }
    
    .main_content_right_block {
        padding-left: 5px;
    }
    
    #context-top-topic {
        margin-top: 15px;
    }

    #updates-list {
        margin-bottom: 0px!important;
    }

    .add_news_link {
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 14px;
        white-space: nowrap;
    }

    //MOBILE THREE BLOCKS
    .main-page-three-blck {
        flex-direction: column!important;

        .three_col_block {
            flex-basis: 0%!important;
        }
    }

    .add_offer, .add_question {
        height: unset!important;
        margin-bottom: 15px;

        #offer-selector {
            height: 25px;
        }
    }

    #faq-selector {
        height: 25px;
    }
}