//MOBILE_FOOTER
@include breakpoint(small down) {
    .phone {
        position: relative;
        padding-left: 0px !important;
        height: 90px;
        .footer_phone {
            text-align: center;
            padding-top: 5px;
        }
    }
    

    .footer_left_menu {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 0px;
        
        li {
            margin-right: 5px;
        }
    }

    .footer_bottom_line {
        p {
            text-align: center;
        }
    }

    .full_version {
        @include horizontal-center;
        color: #064D9F;
        font-weight: 600;
        font-size: 12px;
        font-family: Verdana, Arial, sans-serif;
        bottom: 2px;
        &:hover {
            text-decoration: underline;
        }
    }

    .expanded_spec {
        padding: 0px !important;
    }
}

@include breakpoint(medium down) {
    .phone {
        form {
            display: inline-block;
            position: relative;
            right: 9px;
        }
        input {
            height: 16px;
            font-size: 10px;
            font-family: Verdana,Arial,sans-serif;
            border: 1px solid #505153;
            margin-bottom: 0;
            display: inline-block;
            width: 50%;
        }
        .reg-enter {
            display: unset;
            font-size: 12px;
            font-family: Arial, Verdana, sans-serif;
            color: #534741;
            text-decoration: none;
            line-height: normal;
            font-weight: 700;
            position: relative;
        }
    }

}

@include breakpoint(small only) {
    .phone {
        text-align: center;
        .footer_phone {
            display: block;
        }
        .footer-search-icon {
            float: none;
            padding-left: 0px!important;
            padding-bottom: 0px!important;
            img {
                width: 18px;
                height: 15px;
            }
        }
        input {
            border-radius: 2px;
            padding: 0;
            padding-left: 18px;
            font-size: 12px;
            width: 60%;
        }
    }
    .footer_left_menu {
        margin-top: 0;
    }
    .search_icon_tr {
        background: url("../img/icons/search_icon.png") no-repeat 0px 2px;
        color: transparent;
        width: 22px;
        height: 19px;
        display: inline-block;
        position: absolute;
        position: absolute;
        top: 6px;
        left: 42px;
        z-index: 2;
    }
}

@media screen and (max-width: 440px){
    .footer_phone {
        font-size: 9px!important;
    }
}

@media screen and (max-width: 400px){
    .phone {
        padding-left: 0px !important;
        height: 116px!important;
        .full_version {
            bottom: unset;
        }
    }
}
