{{#ifpage 'specific-news'}}
    <div class="additional">
        <span class="print">
            <a href="/news/249273/?print" target="_blank">
                Версия для печати
            </a>
        </span>
        <span class="response">
            <a href="http://www.ua-tenders.com/news/responses/249273/">
                <strong>
                    Комментарии
                </strong>
            </a>
            &nbsp;(0)
        </span>
    </div>
{{/ifpage}}

{{#ifpage 'specific_law'}}
    <div class="additional_law">
        <span class="print">
            <a href="?print" target="_blank">
                Версия для печати
            </a>
        </span>
        <span class="at_legislation_laws">
            <a href="/legislation/laws/">
                в раздел «Законы Украины»
            </a>
        </span>
    </div>
{{/ifpage}}

{{#ifpage 'specific_material'}}
    <div class="additional_material">
        <span class="print">
            <a href="?print" target="_blank">
                Версия для печати
            </a>
        </span>
        <span class="at_tender_zak">
            <a href="/rubrics/materials/">
                в раздел «Тендерні закупівлі - ефективність, доведена часом»
            </a>
        </span>
    </div>
{{/ifpage}}