<!-- CONTEXT_MENU_OPEN -->
<div id="context-top-topic" class="hide-for-small-only">{{context-heading}} {{#ifpage 'news'}} {{top-news.top-news-heading}} {{/ifpage}}</div>
    {{#ifpage 'index' 'industry' 'specific-news'}}
        <ul id="context-menu-ul" class="hide-for-small-only">
            {{#each context-content}}
                <li class="{{class}}">
                    <a href="{{link}}">{{text}}</a>
                </li>
            {{/each}}
        </ul>
    {{/ifpage}}

    {{#ifpage 'news'}}
    <!-- TOP_NEWS_OPEN -->
    <div class="top_news_wrapper">
        {{#each top-news.top-news-content}}
            <div class="top_news_item">
                <a href="{{link}}">
                    {{link-text}}
                </a>
                <p class="t_news_date">
                    {{top_news_date}}
                </p>
            </div>
        {{/each}}
        <div class="top_news_item">
            <a href="/news/companies/" class="all_news">
                Все новости по теме
            </a>
        </div>
    </div>
    <!-- TOP_NEWS_CLOSE -->
    {{/ifpage}}

    {{#ifpage 'legislation'}}
    <!-- ANNOUNCEMENTS_OPEN -->
        <div class="announcements_wrapper">
            {{#each announcements.context-content}}
                <div class="announcements_block">
                    <a href="{{link}}">
                        {{link-text}}
                    </a>
                    <p>
                        {{text}}
                        <strong>{{about}}</strong>  {{{with_changes}}}
                    </p>
                </div>
            {{/each}}
        </div>
    <!-- ANNOUNCEMENTS_CLOSE -->
    {{/ifpage}}

<!-- CONTEXT_MENU_CLOSE -->