<!-- CONTEXT_MENU_OPEN -->
<div id="context-top-topic" class="hide_small">Персональная страница</div>
    <ul id="context-menu-ul" class="hide_small">
        <li class="n-blue">
            <a href="http://44037.ua-tenders.com/news/">Новости компании</a>
        </li>
        <li class="n-white">
            <a href="http://44037.ua-tenders.com/activity/">Деятельность</a>
        </li>
        <li class="n-blue">
            <a href="http://44037.ua-tenders.com/sentence/">Продукция</a>
        </li>
        <li class="n-white">
            <a href="http://44037.ua-tenders.com/tenders/">Тендеры компании</a>
        </li>
        <li class="n-blue">
            <a href="http://44037.ua-tenders.com/offer/">Предложения компании</a>
        </li>
        <li class="n-white">
            <a href="http://44037.ua-tenders.com/">Контакты</a>
        </li>
    </ul>
<!-- CONTEXT_MENU_CLOSE -->