
<!-- LEFT_BANNER_BLOCK_OPEN -->
{{#ifpage 'news' 'legislation' 'legislation_laws' 'specific_law' 'materials' 'specific_material' 'faq'}}
<div class="banner_wrapper">
    <a href="http://www.ua-tenders.com/action/banner-redirect.php?url=/rubrics/learning/seminar/&banner_id=15&place=ua-tenders.com/rubrics/analitics/index.php&nocache=761076604">
        <img src="{{roots}}assets/img/banners/left_banner_1.gif" alt="Узнайте свои ошибки при участии в тендерах">
    </a>
</div>
<div class="banner_wrapper">
    <a href="http://www.ua-tenders.com/action/banner-redirect.php?url=http://www.ua-tenders.com/rubrics/services/expresstender/&banner_id=60&place=ua-tenders.com/rubrics/analitics/index.php&nocache=1021476691">
        <img src="{{roots}}assets/img/banners/left_banner_2.gif" alt="Экспресс-Тендер по временному положению.">
    </a>
</div>
{{/ifpage}}
<!-- LEFT_BANNER_BLOCK_CLOSE -->

<!-- RIGHT_BANNER_BLOCK_OPEN -->
{{#ifpage 'specific-news' 'specific-supplier' 'specific-customer'}}
    <div class="right_banner_block_wrapper">
        <div class="right_banner_wrapper">
            <a href="http://www.ua-tenders.com/action/banner-redirect.php?url=http://www.ua-tenders.com/rubrics/services/expresstender/&banner_id=57&place=ua-tenders.com/companies/index.php&nocache=1518593946">
                <img src="{{roots}}assets/img/banners/57.gif" alt="Экспресс Тендер">
            </a>
        </div>
        <div class="right_banner_wrapper">
            <a href="http://www.ua-tenders.com/action/banner-redirect.php?url=/rubrics/learning/seminar/&banner_id=19&place=ua-tenders.com/companies/index.php&nocache=1518593946">
                <img src="{{roots}}assets/img/banners/19.gif" alt="Как выиграть тендер">
            </a>
        </div>
        <div class="right_banner_wrapper">
            <a href="http://www.ua-tenders.com/action/banner-redirect.php?url=http://www.ua-tenders.com/rubrics/guarantee/&banner_id=56&place=ua-tenders.com/companies/index.php&nocache=1518593946">
                <img src="{{roots}}assets/img/banners/56.gif" alt="Банковская гарантия">
            </a>
        </div>
    </div>
{{/ifpage}}
<!-- RIGHT_BANNER_BLOCK_CLOSE -->

