<!-- LEFT_LOGIN_USER_BLOCK_OPEN -->
<div class="left_user_info">
    <p class="welcome">
        Добро пожаловать! 
    </p>
    <a href="/profile/" class="user_name_link" title="TestOrganization">
        Яковенко
    </a>
    <br>
    <div class="links_list">

        <div class="user_link_line">
            <div class="user_link_icon">
                <a class="icon_link" href="/profile/">
                    <img src="{{root}}assets/img/icons/vnimanie2.gif" alt="Внимание!">
                </a>
            </div>
            <div class="user_link">
                <a href="/profile/">
                    Моя страница
                </a>
            </div>
        </div>
        <div class="user_link_line">
            <div class="user_link_icon">
                <a href="/profile/maillists/">
                    <img src="{{root}}assets/img/icons/vnimanie3.gif" alt="Внимание!">
                </a>
            </div>
            <div class="user_link">
                <a href="/profile/maillists/">
                    Напоминания о тендерах
                </a>
            </div>
        </div>
        <div class="user_link_line">
            <div class="user_link_icon">
                <a href="/profile/access/">
                    <img src="{{root}}assets/img/icons/rahunok.gif" alt="Внимание!">
                </a>
            </div>
            <div class="user_link">
                <a href="/profile/access/" class="acces_link">
                    Доступ к тендерам
                </a>
            </div>
        </div>
    </div>
</div>
<!-- LEFT_LOGIN_USER_BLOCK_CLOSE -->