
<!-- LEFT_BANNER_BLOCK_OPEN -->
<div class="banner_wrapper">
    <a href="http://www.ua-tenders.com/action/banner-redirect.php?url=/rubrics/learning/seminar/&banner_id=15&place=ua-tenders.com/rubrics/analitics/index.php&nocache=761076604">
        <img src="{{roots}}assets/img/left_banner_1.gif" alt="Узнайте свои ошибки при участии в тендерах">
    </a>
</div>
<div class="banner_wrapper">
    <a href="http://www.ua-tenders.com/action/banner-redirect.php?url=http://www.ua-tenders.com/rubrics/services/expresstender/&banner_id=60&place=ua-tenders.com/rubrics/analitics/index.php&nocache=1021476691">
        <img src="{{roots}}assets/img/left_banner_2.gif" alt="Экспресс-Тендер по временному положению.">
    </a>
</div>
<!-- LEFT_BANNER_BLOCK_CLOSE -->