<!-- LEFT_MENU_OPEN -->
    <ul class="left_menu">
        <li class="li_opened">
            <a href="/news/" class="news_link">
                Новости
            </a>
            {{#ifpage 'news'}}
            <ul class="left_inner_menu">
                <li>
                    <a href="/news/companies/">Компании</a>
                </li>
                <li>
                    <a href="/news/tenders/">Тендеры</a>
                </li>
                <li>
                    <a href="/news/laws/">Законодательство</a>
                </li>
                <li>
                    <a href="/news/comments/">Комментарии</a>
                </li>
                <li>
                    <a href="/news/investigations/">Расследования</a>
                </li>
                <li>
                    <a href="/news/world/">Мир</a>
                </li>
                <li>
                    <a href="/news/construction/">Строительство</a>
                </li>
                <li>
                    <a href="/news/medicine/">Медицина</a>
                </li>
            </ul>
            {{/ifpage}}
        </li>
        <li>
            <a href="/rubrics/tenders/">
                Тендеры
            </a>
        </li>
        <li>
            <a href="/customers/">
                Каталог <br> Заказчиков
            </a>
        </li>
        <li>
            <a href="/suppliers/">
                Каталог <br> поставщиков
            </a>
        </li>
        <li>
            <a href="/offer/">
                Предложения <br>  компаний
            </a>
        </li>
        <li>
            <a href="/rubrics/add/">
                Добавить на сайт
            </a>
        </li>
        <li>
            <a href="/rubrics/laws/">
                ЗАКОНОДАТЕЛЬСТВО
            </a>
        </li>
        <li>
            <a href="/faq/">
                Вопросы-ответы
            </a>
        </li>
        <li>
            <a href="/rubrics/forum/">
                Форум о закупках
            </a>
        </li>
        <li>
            <a href="/rubrics/analitics/">
                Аналитика
            </a>
        </li>
        <li>
            <a href="/rubrics/materials/">
                Статьи
            </a>
        </li>
        <li>
            <a href="/rubrics/download/">
                Файлы
            </a>
        </li>
        <li>
            <a href="/rubrics/books/">
                НАШИ КНИГИ
            </a>
        </li>
        <li>
            <a href="/rubrics/helpdesk/">
                Служба Поддержки
            </a>
        </li>
        <li>
            <a href="/rubrics/about/">
                О проекте
            </a>
        </li>
    </ul>
<!-- LEFT_MENU_CLOSE -->