<!-- LEFT_LOGIN_USER_BLOCK_OPEN -->
<div class="left_user_info">
    
    {{#if registered}}
        <p class="welcome">
            Добро пожаловать! 
        </p>
        <a href="/profile/" class="user_name_link" title="TestOrganization">
            Яковенко
        </a>
        <br>
        <div class="links_list">

            <div class="user_link_line">
                    <a class="icon_link" href="/profile/">
                        <img src="{{root}}assets/img/icons/vnimanie2.gif" alt="Внимание!">
                    </a>

                    <a href="/profile/">
                        Моя страница
                    </a>
            </div>
            <div class="user_link_line" id="user_link_line_second">
                    <a class="icon_link" href="/profile/maillists/">
                        <img src="{{root}}assets/img/icons/vnimanie3.gif" alt="Внимание!">
                    </a>

                    <a href="/profile/maillists/">
                        Напоминания о тендерах
                    </a>
            </div>
            <div class="user_link_line">
                    <a class="icon_link" href="/profile/access/">
                        <img src="{{root}}assets/img/icons/rahunok.gif" alt="Внимание!">
                    </a>
                    <a href="/profile/access/" class="acces_link">
                        Доступ к тендерам
                    </a>
            </div>
        </div>
    {{/if}}

    {{#if unregistered}}
        <form method="POST" name="loginform1" onsubmit="return check_login_form(this);">
            <input type="hidden" name="action" value="login">
            <div class="login_first_row">
                <span class="form_labels text-left login_label">
                    Логин:
                </span>
                <input type="text" name="_login" class="">
            </div>
            <div class="login_second_row">
                <span class="form_labels">
                    Пароль:
                </span>
                <input type="password" name="_passw">
            </div>
            <button type="submit" onclick="check_login_form(this);" class="reg-enter">Вход</button>
            <input type="button" value="Забыли пароль ?" onclick="window.location='/login/remind/'" class="reg-enter">
            <a href="/profile/" class="flex-container align-right">
                <img alt="Внимание Тендеры !" src="{{root}}assets/img/banners/vnimanie.gif">
            </a>
        </form>
    {{/if}}
</div>
<!-- LEFT_LOGIN_USER_BLOCK_CLOSE -->