<!-- SEARCH_MODAL_OPEN -->
<div class="modal-search full reveal "  id="searchModal" data-reveal>
        <button class="closing-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
            <input type="text" name="text" value="" autofocus>
            <div class="reg-enter-wrapper">
                <a onclick="window.document.searchform.submit();" class="reg-enter"></a>
            </div>
</div>
<!-- SEARCH_MODAL_CLOSE -->