.questions_wrapper {
    width: 91%!important;
    display: inline-block;
    padding-left: 15px;
    padding-right: 10px;
}
.left_menu_questions {
    width: 9%;
}
.faq_btn {
    width: 25%;
    height: 22px; 
    border: 0px; 
    background-image: url("../img/botton.png"); 
    cursor: pointer; 
    font-weight: 700;
    padding: 1px 6px;
    outline: none;
    margin-bottom: 12px;
    font-size: 13px;
}

.botton_sides {
    display: inline;
}

.botton_left {
    position: relative;
    bottom: 0.5px;
    left: 5px;
}

.botton_right {
    position: relative;
    right: 5px;
    bottom: 0.5px;
}

#tender-table-list {
    font-size: $font-size;
    font-family: Verdana, sans-serif;
    color: $primary-color;

    tr {
        background: #FBF7EE;
    }

    th {
        color: #615F60;
        background: #FBF7EE;
        border: 1px solid #E2DFD8;
        padding: 5px;
        font-weight: 700;
        text-align: left;
    }

    td {
        padding: 5px;
        border: 1px solid #E2DFD8;

        a {
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    tr:nth-child(even) {
        background: #FAF9F7;
    }
}

.new_quest_heading {
    background: #0080C6 url(../img/icons/tender_title.gif) no-repeat 10px 55%;
    color: #FFFFFF;
    padding: 2px 10px 2px 28px;
    font: bold 12px Verdana,sans-serif;
    text-align: left;
}
.new_questions {
    margin-bottom: 40px;
}
.question_item {
    border-bottom: 1px solid #CCE5FE;
    border-left: 1px solid #CCE5FE;
    border-right: 1px solid #CCE5FE;
    height: 44px;
    padding: 2px 5px 2px 22px;
    font-size: $font-size;
    font-family: Verdana, Arial, sans-serif;

    a {
        background: transparent url(../img/icons/ques.gif) no-repeat 0 0px;
        padding-left: 25px;

        &:hover {
            text-decoration: underline;
        }
    }
}