.qst_author {
    color: $primary-color;
    font-size: 12px;
    font-family: $body-font-family;
    font-weight: 700;
    margin-bottom: 0px;

    a:hover {
        text-decoration: underline;
        color: #417AC6;
    }
}

.question_publ_date {
    color: #3B3B3B;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: $font-size;
}

.question_wrapper, .answer_wrapper {
    background: #F8FBFD;
    border: 1px solid #E5F1FD;
    padding: 15px 20px 15px 20px;
    color: $primary-color;
    font-family: Verdana, Arial, sans-serif;
    font-size: $font-size;

    p {
        margin-bottom: 0px;
    }
}

.answer_wrapper {
    p:last-child {
        margin-top: 10px;
    }

    margin-bottom: 5px;
}